.innerBenner
  .wrapper
    .news_feeds
      %h2 
        Invites Contact
.wrapper
  .row-fluid.spaced-top
    .span2.spaced-left
      .btn-group.btn-group-vertical.btn-block
        = link_to 'My Profile', current_user, class: 'btn'
.detail_form_container
  %a{href: "/contacts/gmail", class: "btn btn-success"}
    Invite Gmail Contact
  %br
  %br
  %a{href: "/contacts/yahoo", class: "btn btn-success"}
    Invite Yahoo Contact  
  %br
  %br  
  %a{href: "/contacts/hotmail", class: "btn btn-success"}
    Invite Hotmail Contact  
  
    
  - if !@contacts.nil?
    - @contacts.each do |c|
      %ul
        %p
          Contact List
        %li
          = c[:email]      
