= simple_form_for(@menucategory) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, :input_html => { :maxlength => 30 }

    = f.button :submit, value: "Submit", class: "btn btn btn-large btn-primary"
