.row-fluid.spaced-top
  .span2.spaced-left
    .btn-group.btn-group-vertical.btn-block
      = link_to 'Back', current_user, class: 'btn'

  .span6
    %h1 Editing menucategory

    = render 'form'


