.innerBenner
  .wrapper
    .news_feeds
      %h2 
        New quote
.wrapper
  .row-fluid.spaced-top
    .span2.spaced-left
      .btn-group.btn-group-vertical.btn-block
        = link_to 'My Profile', current_user, class: 'btn'
.detail_form_container
  = render 'form'

/.wrapper
/  %h1 New quote
/  = render 'form'
/
/  = link_to 'Back', quotes_path
