= render 'portfolio_menu'
.inneContainer
  .wrapper
    .box_section
      %ul#portfolios
        - @albums.each do |album|
          = render 'shared/album_view', album: album
      - if params[:q].nil? && params[:sc].nil?
        #infinite-scrolling
          = will_paginate @albums           
      .clear

