- provide(:title, "Geniya.net - Portfolio base")
- provide(:keywords, "fashion, culinary, entertainment, fitness, arts, travel, modeling, photography")
= render "portfolio_menu"
.inneContainer
  .wrapper
    .box_section
      %ul#portfolios
        #ajax-portfolio-detail-homepage.modal.fade.modal-scrollable{style: "display: none;", tabindex: "-1"}
        - if @albums.any?
          - @albums.each do |album|
            = render 'shared/album_view', album: album
        - else
          .no_results
            No results found      
        

      #infinite-scrolling
        = will_paginate @albums      
      .clear

