= render "portfolio_menu"
.inneContainer
  .wrapper
    .box_section
      %ul
        - @albums.each do |album|
          = render 'shared/album_view', album: album
      .clear
    .page_loader
      %img{alt: "", src: "/assets/page_loader.png"}/
