.makeup_sec
  - if !job.cover_file_name.nil?
    .makeUp
      = image_tag job.cover.url(:medium), width: "100%"
  .make_comtact
    .job_title_cont
      = job.title
    .job_organization_name_cont
      = job.organization.name
    .job_contact_link_cont
      = link_to "Contact now", job
