.innerBenner
  .wrapper
    .news_feeds
      %h2 
        Editing Job
.wrapper
  .row-fluid.spaced-top
    .span2.spaced-left
      .btn-group.btn-group-vertical.btn-block
        = link_to 'Back', @job, class: 'btn'
        = link_to 'My jobs', jobs_path, class: 'btn'
.detail_form_container
  = render 'form'
