- user_bussiness_page = User.where(parent_id: current_user.id)
- if (user_bussiness_page==[])
- else
  .profile_background
    .bg_buttan
      Bussiness Page
    #controll_container
      #controll_left_container
        - user_bussiness_page.each do |user_buss_detail|
          = link_to user_buss_detail.username, "/users/"+user_buss_detail.slug+"/change_login", class: 'btn'
      .clear
    .clear
