- user_bussiness_page = User.where(parent_id: @user.id)
- if (user_bussiness_page==[])
- else
  .profile_background
    .bg_buttan
      Bussiness Page
    #controll_container
      #controll_left_container
        - user_bussiness_page.each do |user_buss_detail|
          #bussiness_btns
            - if signed_in? and current_user?(@user)
              = link_to user_buss_detail.name, "/users/"+user_buss_detail.slug+"/change_login", class: 'btn'
            - else
              = link_to user_buss_detail.name, "/users/"+user_buss_detail.slug, class: 'btn'
      .clear
    .clear
