- user.tags.each do |tag|
  %li[tag]
    - if(tag.id%2 == 0) 
      %span
        = link_to tag.name, tag
        - if current_user and user.id == current_user.id
          = link_to "x", '/user_tags/' + tag.user_tags.where(user_id: current_user.id).first.id.to_s, method: :delete, :data => { :confirm => 'Are you sure?' }, class: 'tag_delete', remote: true
    - else
      = link_to tag.name, tag
      - if current_user and user.id == current_user.id
        = link_to "x", '/user_tags/' + tag.user_tags.where(user_id: current_user.id).first.id.to_s, method: :delete, :data => { :confirm => 'Are you sure?' }, class: 'tag_delete', remote: true
