.inneContainer
  .wrapper
    .login_container
      .login_form
        = form_for(:user, url: '/users/recover_password') do |f|
          .form-item.user_name
            %label :email
            = f.text_field :email, placeholder: "Email"

          .form-submit.right
            = f.submit "Recover password"
