.row-fluid.spaced-top
  .span2.spaced-left
    .btn-group.btn-group-vertical.btn-block
      - if signed_in?
        = link_to 'My Profile', current_user, class: 'btn'
  .span7.spaced-right
    %h1 Listing Users
    - @users.each do |user|
      - @user = user
      = render 'users/orgzuser', user: user
    = will_paginate @users 


