- c = @country.states
%select#location_old_state_id.select.required{name: "location[state_id]"}
  %option{value: ""}   Select State
  - c.each do|s|
    %option{value: "#{s.id}"}   #{s.name}
  %option{value: "0"}   Add New State





