- user.advertisements.each do |add_detail|
  .makeup_sec
    .makeUp
      = image_tag add_detail.file_attachment.url(:original)
    .make_comtact
      %p 
        = add_detail.name
      %em 
        = add_detail.address
      = link_to "Contact now", '/advertisements/'+ add_detail.slug
- if (user.name== current_user.name)
  %a#edu-link{href: "/advertisements/new"} Add More Advertisements
