.ads-box
  - if Advertisement.any?
    - advertize = Advertisement.where.not(user_id: user.id)
    - ads = advertize.where(category_id: user.category_id)
    - add_detail = ads.sample
    = render 'shared/ads_details', add_detail: add_detail, user: user, ads: ads

