.album
  - album.uploads.each do|upload_img_name|
    .content
      = image_tag upload_img_name.file_attachment.url(:thumb), alt: upload_img_name.file_attachment.url(:original)
      %span
        = upload_img_name.title
  .descr
    = album.name
