.isotope-item.ajax-portfolio-detail-homepage-modal-trigger 
  .albm-img{:data => "#{album.id}", onclick: "javascript: open_album_modal(#{album.id})"}
    -if ! album.cover.nil?
      = image_tag album.cover.url(:medium)
    -else
      =image_tag '/assets/missing-image-geniya.png', title: album.name    
