.chat_message_row{id: "chat_" + chat.id.to_s, :class => [("unread_chat" if chat.status == 'unread'), ("sent_chat" if chat.user == current_user), ("recieved_chat" if chat.user != current_user)]}
  .chat_delete
    = link_to "x", chat, method: :delete, :data => { :confirm => 'Are you sure you want to delete this message?' }, remote: true, class: 'tag_delete' if (chat.user == current_user)
  .chat_text
    = chat.message
  .chat_time
    = time_ago_in_words(chat.created_at) + " ago"     
