- if signed_in? and current_user == obj.user
  .detail_controls_cont
    = link_to 'Edit', send(:"edit_#{obj.class.name.downcase}_path", obj)
    \|
    = link_to "Delete", obj, method: :delete, :data => { :confirm => "Are you sure you want to delete this #{obj.class.name.downcase}?" }
