= text_field_tag 'search', nil, placeholder: 'Search Organization here...', id:"srch_org"
%p#orgn_detail
#affilates_form_container
%p#divider_for_org
  OR
#more_org_form
  #orgn_form.modal.fade{"data-width" => "760", style: "display: none;", tabindex: "-1"}
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      %h4.modal-title Add Organization Details:
    .modal-body
      = render 'organizations/form'
    .modal-footer
      %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
      /%button.btn.btn-primary{type: "button"} Save changes
  %a.demo{"data-toggle" => "modal",href: "#orgn_form"}
    %span#orgn_btn_container
      Add Organization
