= text_field_tag 'search', nil, placeholder: 'Enter Organization here...', id:"srch_org", style: 'width: 50%'
or
%a.demo{"data-toggle" => "modal",href: "#orgn_form"}
  %span#orgn_btn_container
    Create new Organization
%p#orgn_detail
#affilates_form_container
%p#divider_for_org
  
#more_org_form
  #orgn_form.modal.fade{"data-width" => "760", style: "display: none;", tabindex: "-1"}
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      %h4.modal-title Add Organization Details:
    .modal-body
      = render 'organizations/form'
    .modal-footer
      %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
