- if signed_in?
  %div{ :id => "like_form_#{object.class.name}_#{object.id}" }
    -if current_user.likes?(object)
      = render 'shared/unlike', object: object
    -else
      = render 'shared/like', object: object

