.content-1{:id => "alb-upload-#{upload.id}"}
  =image_tag upload.multiupload.url(:original), alt: upload.multiupload_file_name
  
  /= link_to "×", upload_path(upload), :method => :delete, :remote => true,  :disable_with => "×", :class => 'upload-delete' , :id => "upload-delete-#{upload.id}"
  
  .album-content
    %p#upload-title
      = upload.multiupload_file_title
    %p#upload-desc
      = upload.multiupload_file_desc
    /= link_to 'Edit', edit_upload_path(upload)
