.fleft
  %ul.gallery.clearfix


%ul.gallery.clearfix
  %li
    %a{href: "#{upload.multiupload.url(:original)}", rel: "prettyPhoto[mixed]", title: "#{upload.multiupload_file_title}"}
      =image_tag upload.multiupload.url(:original), alt: upload.multiupload_file_name
%ul#album-upload-content
  %li#album-upload-title 
    = upload.multiupload_file_title
  %li#album-upload-desc
    = upload.multiupload_file_desc
