.field
  %label Profession
  = form_object.select :sub_category_ids, SubCategory.joins(:category).where("category_id = #{category_id}").order('categories.name').collect {|x| [x.name, x.id]}, {:include_hidden => false}, :multiple => true, include_hidden: false
