= simple_form_for(@usertag, remote: true) do |f|
  = f.error_notification

  .form-inputs
    %label
      Enter Tag with #    
    = f.text_field :name, :autocomplete => :off

  .form-actions-tags
    = f.button :submit, value: "Add Tags", id: "add_tag"
