.like-left
  = form_for(object.likes.find_by(liker_id: current_user.id), |
    html: { method: :delete }, remote: true) do |f|                                   |
    = f.submit "Unlike", class: "btn unlikepubBtn", id: "like-button"
  %span.like-img
    %img{alt: "", height: "16", src: "/assets/heart_gold.png"}/
