.row-fluid.spaced-top
  .span2.spaced-left
    .btn-group.btn-group-vertical.btn-block
      = link_to 'New event', new_event_path, class: 'btn btn-success'
      = link_to 'My profile', current_user, class: 'btn'
  .span9
    %h1 Event calendar
    #event_modal.modal.fade{"data-width" => "400", style: "display: none;", tabindex: "-1"}
    #event_calendar_full
  %br
