%li.isotope-item
  .black_square
  -if album.uploads.any?
    = image_tag album.uploads.first.file_attachment.url, title: album.name
  -else
    =image_tag '/assets/file-upload.jpg', title: album.name
  .trendingInfo.isotopeSummary
    %h6.aqua
      = link_to album.category.name, album.category
    %h4
      = link_to album.title, album
    .isotopeDetailed
      %p.description #{album.description}
