- if signed_in?
  .row
    %aside.span4
      %section= render 'shared/user_info'
      %section= render 'shared/update_form'
    .span8
      %h3 Updates 
      = render 'shared/feed'      
- else
  .center.hero-unit
    %h1 Welcome to Geniya
    %h2
      This is the home page for Geniya.
    = link_to "Sign up now!", signup_path, |
      class: "btn btn-large btn-primary"   |
