
- if signed_in?
  .innerBenner
    .wrapper
      .news_feeds
        %a.text{href: "#"}
          %h2
            News
            %span Feeds
          %p Be bold befocused be seen
  .inneContainer
    .wrapper
      .innerLeft_section
        .shere_with
          .user_data
            .user_info
              = render 'shared/user_info'
          .user_updates_form
            = render 'shared/update_form'
        .user_description
          = render 'shared/feed'   
      .inner_rightSection
        .makeup_sec
          .makeUp
            %img{alt: "", src: "/assets/feeds_img2.png"}/
          .make_comtact
            %p Need a Make up person for new Spa
            %em Toronto / canada
            %a{href: "#"} Contact now
        .makeup_sec
          .makeUp
            %img{alt: "", src: "/assets/feeds_img3.png"}/
          .make_comtact
            %p Need a Make up person for new Spa
            %em Toronto / canada
            %a{href: "#"} Contact now
        .makeup_sec
          .makeUp
            %img{alt: "", src: "/assets/feeds_img4.png"}/
          .make_comtact
            %p Need a Make up person for new Spa
            %em Toronto / canada
            %a{href: "#"} Contact now
        .makeup_sec
          .makeUp
            %img{alt: "", src: "/assets/feeds_img5.png"}/
          .make_comtact
            %p Need a Make up person for new Spa
            %em Toronto / canada
            %a{href: "#"} Contact now
        .makeup_sec
          .makeUp
            %img{alt: "", src: "/assets/feeds_img6.png"}/
          .make_comtact
            %p Need a Make up person for new Spa
            %em Toronto / canada
            %a{href: "#"} Contact now
        .makeup_sec
          .makeUp
            %img{alt: "", src: "/assets/feeds_img7.png"}/
          .make_comtact
            %p Need a Make up person for new Spa
            %em Toronto / canada
            %a{href: "#"} Contact now                                                            
- else
  .slider
    %img{alt: "slider", src: "/assets/slide1.jpg"}/
  .slogan
    .wrapper_c
      Get Going with Geniya -
      %span "Be Successful"
  .choose
    .wrapper_c
      .view_portfolio
        %img{alt: "", src: "/assets/view_portfolio.png"}/
        %a.text{href: '/portfolios'}
          VIEW
          %span Portfolios
          %i Seek and Hire
      .post_portfolio
        %img{alt: "", src: "/assets/post_portfolio.png"}/
        %a.text{href: '/signup'}
          POST
          %span Portfolios
          %i Promote Yourself
      .clear
  .section_heading
    .wrapper_c
      .left_section
        Hot in Trend from
        %a All Categories
      .right_section Be Bold Be Focused Be Seen
      .clear
  %section.main_container
    .wrapper_c
      .span690.inline_block
        %ul#editorsPicks
          - @categories.each do |category|
            = render 'album_home_thumb', album: category.albums.where(kind: 'portfolio').first
      .span315.offset1.inline_block
        .discover
          Discover Geniya
          %ul.discover_nav
            %li
              %a{href: ""} Home
            %li
              %a{href: ""} Photography
          .clear
          .search
            %input{placeholder: "Enter keyword", type: "search"}/
            %input.go{type: "search", value: "Go"}/
          .ageFilter
            #ageRange
              .currentRange{style: "left: 4.5px; right: 0px;"}
              .leftGrip.grip{"data-value" => "19", style: "left: 4.5px;"}
                %span 19
              .rightGrip.grip{"data-value" => "51", style: "left: 260px;"}
                %span 50+
        .widget.video
          .title Top Viewed
          .block
            %img{alt: "", src: "/assets/video.jpg"}/
            .pull_inside1
              %span.vid_name Lorem lpsum
              %span.view 63 views
        .widget.tab
          .block
            %ul.tab_nav
              %li.active
                %a{href: ""} Recent
              %li
                %a{href: ""} Popular
              %li
                %a{href: ""} Comments
              .clear
            %ul.tab_content
              %li
                .imagecol
                  %img{alt: "", src: "/assets/tab1.jpg"}/
                .txtcol
                  %span.heading Vestibulum et quam ene sollicitudin augue.
                  .time December 23, 2013
              %li
                .imagecol
                  %img{alt: "", src: "/assets/tab_2.jpg"}/
                .txtcol
                  %span.heading Vestibulum et quam ene sollicitudin augue.
                  .time December 23, 2013
          .clear
        .widget.social
          %a
            %img{alt: "", src: "/assets/twitter_folloe.jpg"}/
          %a
            %img{alt: "", src: "/assets/facebook.jpg"}/
          %a
            %img{alt: "", src: "/assets/utube.jpg"}/
        .widget.newsletter
          .title Subscribe to our newsletter
          .block
            .pull_inside2
              %input{placeholder: "Your Email", type: "text"}/
              %input.subscribe{type: "button", value: "Subscribe"}/
              .clear
