- if signed_in?
  .row
    %aside.span4
      %section= render 'shared/user_info'
      %section= render 'shared/stats'
      %section= render 'shared/update_form'
    .span8
      %h3 Updates 
      = render 'shared/feed'      
- else
  .slider
    %img{alt: "slider", src: "/assets/slide1.jpg"}/
  .slogan
    .wrapper_c
      Get Going with Geniya -
      %span "Be Successful"
  .choose
    .wrapper_c
      .view_portfolio
        %img{alt: "", src: "/assets/view_portfolio.png"}/
        %a.text{href: '/portfolios'}
          VIEW
          %span Portfolios
          %i Seek and Hire
      .post_portfolio
        %img{alt: "", src: "/assets/post_portfolio.png"}/
        %a.text{href: '/signup'}
          POST
          %span Portfolios
          %i Promote Yourself
      .clear
  .section_heading
    .wrapper_c
      .left_section
        Hot in Trend from
        %a All Categories
      .right_section Be Bold Be Focused Be Seen
      .clear
