.innerBenner
  .wrapper
    .news_feeds
      %a.text{href: "#"}
        %h2
          Pricing
          %span Page
        %p Join our thriving community today!
.inneContainer
  .wrapper
    .pricing_page
      .basic_plan
        .free_plan
          %h2
            Visitor
            %span Plan
            %em That&#39;s Free!!
            %em For visitors
            %em All features
          %ul
            %li
              Search and browse portfolios
            %li
              Find portfolios by profession
            %li
              Find professionals in your city
            %li
              Follow and connect with professionals
            %li
              Appriciate and comment on portfolios
            %li
              Upgrade as professional
            %li
              Know what others are talking about
            %li
              Know what is trending

        .get_started
          %a{href: "/register"}
            %img{alt: "", src: "/assets/get_started.png"}/
        .price
          %h2
            %sup> $
            00
            %sup .00
            %span /month
        %a#basic{href: "/register"+"?plan=trial"}
          .basic-plan-register 
      .basic_plan
        .free_plan
          %h2
            Basic
            %span Plan
            %em That&#39;s Free!!
            %em For professionals
            %em Limited features
          %ul
            %li
              Create upto 3 potfolios
            %li
              Showcase your best photos
            %li
              Win contracts or employment
            %li
              Upload upto 3 videos
            %li
              Follow other professionals
            %li
              Make your network
            %li
              Connect with upto 50 professionals in your network
            %li
              Know what is trending in your industry
            %li
              Win customers and fans
            %li
              Get appriciation and feedback on your work
            %li
              Appear in local searches
            %li
              
        .get_started
          %a{href: "/register"}
            %img{alt: "", src: "/assets/get_started.png"}/
        .price
          %h2
            %sup> $
            00
            %sup .00
            %span /month
        %a#basic{href: "/register"+"?plan=trial"}
          .basic-plan-register            
      .basic_plan
        .sale_plan
          %h2
            Deluxe
            %span Plan
            %em Value for money
            %em For professionals
            %em All features
          %ul
            %li
              %a{href: "#"} Create unlimited portfolios
            %li
              %a{href: "#"} Showcase your best photos
            %li
              %a{href: "#"} Upload upto 30 videos
            %li
              %a{href: "#"} No Long-term Contracts
            %li
              %a{href: "#"} Unlimited Uploads
            %li
              %a{href: "#"} Unlimited Connections
            %li
              %a{href: "#"} Get Employed, Hire Employes.
            %li
              %a{href: "#"} Personal Store
            %li
              %a{href: "#"} Get our Event Calender Service
            %li
              %a{href: "#"} Sell your photos in the Market
        .get_started
          %a{href: "/register"}
            %img{alt: "", src: "/assets/get_started1.png"}/
        .price_sale
          %h2
            %sup> $
            00
            %sup .00
            %span /month
        .center_align
          %a#awsm{href: "/register"+"?plan=deluxe"}
            .awesom-plan-register            
      .clear
