.innerBenner
  .wrapper
    .news_feeds
      %a.text{href: "#"}
        %h2
          Pricing
          %span Page
        %p Join our thriving community today!
.inneContainer
  .wrapper
    .pricing_page
      %a{href: "/register"}
        .basic_plan
          .free_plan
            %h2
              Basic
              %span Plan
              %em That Free!!
            %ul
              %li
                %a{href: "#"} 20 uploads per week
              %li
                %a{href: "#"} Showcase your best photos
              %li
                %a{href: "#"} Upload upto 3 videos
              %li
                %a{href: "#"} No Long-term Contracts
              %li
                %a{href: "#"} No Long-term Contracts
              %li
                %a{href: "#"} You can add upto 200 connections
              %li
                %a{href: "#"} Get Employed
              %li
                %a{href: "#"} Personal Store
              %li
                %a{href: "#"} No Long-term Contracts
              %li
                %a{href: "#"} No Long-term Contracts
          .get_started
            %a{href: "/register"}
              %img{alt: "", src: "/assets/get_started.png"}/
          .price
            %h2
              %sup> $
              00
              %sup .00
              %span /month
      %a{href: "/register"}
        .Awesome_Plan
          .sale_plan
            %h2
              Awesome
              %span Plan
              %em Includes Portfolios
            %ul
              %li
                %a{href: "#"} 100 uploads per week
              %li
                %a{href: "#"} Showcase your best photos
              %li
                %a{href: "#"} Upload upto 30 videos
              %li
                %a{href: "#"} No Long-term Contracts
              %li
                %a{href: "#"} Unlimited Uploads
              %li
                %a{href: "#"} Unlimited Connections
              %li
                %a{href: "#"} Get Employed, Hire Employes.
              %li
                %a{href: "#"} Personal Store
              %li
                %a{href: "#"} Get our Event Calender Service
              %li
                %a{href: "#"} Sell your photos in the Market
          .get_started
            %a{href: "/register"}
              %img{alt: "", src: "/assets/get_started1.png"}/
          .price_sale
            %h2
              %sup> $
              00
              %sup .00
              %span /month
      .clear
