.innerBenner
  .wrapper
    .news_feeds
      %a.text{href: "#"}
        %h2
          Pricing
          %span Page
        %p Join our thriving community today!
.inneContainer
  .wrapper
    .pricing_page
      .basic_plan
        .free_plan
          %h2
            Visitor
            %span Plan
            %em That&#39;s Free!!
            %em For visitors
            %em All features
          %ul
            %li
              Search and browse portfolios
            %li
              Find portfolios by profession
            %li
              Find professionals in your city
            %li
              Follow and connect with professionals
            %li
              Appreciate and comment on portfolios
            %li
              Upgrade as professional
            %li
              Know what others are talking about
            %li
              Know what is trending

        .get_started
          %a{href: "/register"+"?plan=visitor"}
            %img{alt: "", src: "/assets/get_started.png"}/
        .price
          %span.price_other
            $00.00
          %span.plan_term 
            \/month
        .center_align
          %a#basi{href: "/register"+"?plan=visitor", class: "btn btn-large btn-blue"}
            Register
      .basic_plan
        .free_plan
          %h2
            Basic
            %span Plan
            %em That&#39;s Free!!
            %em For professionals
            %em Limited features
          %ul
            %li
              Create upto 3 potfolios
            %li
              Showcase your best photos
            %li
              Win contracts or employment
            %li
              Upload upto 3 videos
            %li
              Follow and get followed by other professionals
            %li
              Connect with upto 50 professionals in your network
            /
              %li
                Know what is trending in your industry
            %li
              Win customers and fans
            %li
              Get appreciation and feedback on your work
            /
              %li
                Appear in local searches
              
        .get_started
          %a{href: "/register"+"?plan=trial"}
            %img{alt: "", src: "/assets/get_started.png"}/
        .price
          %span.price_other
            $00.00
          %span.plan_term 
            \/month
        .center_align
          %a#basic{href: "/register"+"?plan=trial", class: "btn btn-large btn-blue"}
            Register
      .basic_plan
        .sale_plan
          %h2
            Deluxe
            %span Plan
            %em Value for money
            %em For professionals
            %em All features
          %ul
            %li
              Create unlimited portfolios
            %li
              Showcase your best photos
            %li
              Get Employed, Hire Employees
            /
              %li
                Upload upto 30 videos
            %li
              Follow and get followed by other professionals
            /
              %li
                Unlimited Connections
            /
              %li
                Know what is trending in your industry
            %li
              Win customers and fans
            %li
              Get appreciation and feedback on your work
            %li
              Appear in local searches
            %li
              Get our event calendar service
        .get_started
          %a{href: "/register"+"?plan=deluxe"}
            %img{alt: "", src: "/assets/get_started1.png"}/
        .price_sale
          %span.price_deluxe
            $19.99
          %span.plan_term 
            \/month
          %br
          or
          %br
          %span.price_deluxe
            $149.00
          %span.plan_term 
            \/year
          %br
            Save 42%
          %br
        .center_align
          %a#awsm{href: "/register"+"?plan=deluxe", class: "btn btn-large btn-primary"}
            Register
      .clear
