%h1 Our Portfolio Base
%li= link_to "All", albums_path
- @categories.each do |category|
  %li= link_to category.name.capitalize, category
.profile_portfolio_section
  - if signed_in? and current_user?(@user)
    .new_portfolio_button_cont
      = link_to 'New Album', new_album_path, class: 'btn btn-primary'
  - @albums.each do |album|
    = render 'shared/album_thumb', album: album
      
