.inneContainer
  .wrapper
    .box_section
      %h1 Listing albums
      %ul#portfolios
        #ajax-portfolio-detail-homepage.modal.fade.modal-scrollable{style: "display: none;", tabindex: "-1"}
        - @albums.each do |album|
          = render 'shared/album_view', album: album
    .clear
    = will_paginate    
