.inneContaineralbum
  #album-cont.wrapper
    %p#notice= notice

    = render @album

    - if signed_in?
      = link_to 'Edit', edit_album_path(@album)
      \|
      = link_to 'Back', albums_path


