.wrapper
  .row-fluid.spaced-top
    .span2.spaced-left
      .btn-group.btn-group-vertical.btn-block
        - if signed_in?
          = link_to 'Back', current_user, class: 'btn'
    .span7.spaced-right
      %h3 Users with #{@tag.name} tag
      - @users.each do |user|
        - @user = user
        = render 'users/taguser', user: user
      = will_paginate @users  
