
.wrapper
  .news_feeds
      
.wrapper
  .row-fluid.spaced-top
    .span2.spaced-left
      .btn-group.btn-group-vertical.btn-block
        = link_to 'My Profile', current_user, class: 'btn'
        = link_to 'Back', cities_path, class: 'btn'
.detail_form_container
  %h1
    City Detail
  %h3
    State:
    = @city.state.name.capitalize
  %h3
    City:
    = @city.name.capitalize

