@charset "utf-8";
/* CSS Document */

@import "bootstrap";
@import 'bootstrap-datetimepicker';

/* mixins, variables, etc. */
$grayLight: #eaeaea;
$grayMediumLight: #eaeaea;
$grayLighter: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { margin:0px; padding:0px; background:#fff; font-family:'latoregular', Arial, Helvetica, sans-serif; font-size:13px; font-family: 'latoregular'; line-height: normal }

* { margin:0px; padding:0px; }

a {
    color: #82AB05;
}


a:hover, a:focus {
    color: #82AB05;
    text-decoration: underline;
}

.left { float:left }

.right { float:right }

.clear { clear:both }

ul li { list-style:none }

a, img { border:none; text-decoration:none }

img { max-width:100% }

.wrapper_c { margin:0 auto; width:1024px; max-width:100%; position: relative; }

.wrapper_c:after, .wrapper_c:before { clear:both; display:table }

.wrapper {margin: 0 auto;max-width: 100%;position: relative;width: 1024px;}

button { cursor:pointer }

.align_middle { display: table; margin: 0 auto; }

.inline_block { display:inline-block; vertical-align:top }

.span690 { width:690px; }

.span315 { width:315px; }

.offset1 { margin-left:14px; }

/***********************/

header { margin:0px; padding:0px; width:100%; background:#f3f1f1; position:relative }

.login_nav { float:right; clear:both }

.login_nav:after, .login_nav:before { clear:both }

.login_nav li { float:left; list-style:none }

.login { background: url("/assets/login.png") no-repeat scroll left top rgba(0, 0, 0, 0); color: #FFFFFF; font-weight: bold; padding: 15px 12px 25px 17px; position: absolute; right: 0; text-transform: uppercase; top: -4px; }

.login_nav li a { color:#8fba37 }

.login_nav li { border-right: 1px solid #E5E5E5; line-height: 12px; padding: 4px 7px; }

.login_nav li:last-child { border:none }

.login_nav li.login { background: url("/assets/login.png") no-repeat scroll left top rgba(0, 0, 0, 0); color: #FFFFFF; display: block; font-family: 'latobold'; margin-left: 8px; padding: 3px 12px 25px 20px; position: relative; text-align: center; text-transform: none; top: 0; width: 54px; }

.login_nav li.login a { color:#fff; font-weight:normal; font-size:16px; }

.logo { left: 50%; margin-left: -79px; position: absolute; top: 0; padding: 0; z-index: 9999; cursor:pointer }

nav:after, nav:before { clear: both; }

nav:after, nav:before { clear: both; }

nav { display: block; float: left; margin-top: 4px; padding-bottom: 28px; position: relative; width: 100%; }

.midsection { margin-right: 190px; }

#header_wrapper ul { margin:0;  }

#man_nav li:last-child, .midsection { border:none }

#man_nav li { float:left; list-style:none; padding:0px 10px; border-right:1px solid #e3e3e3; line-height:12px; }

#man_nav li:hover a { border-bottom:3px solid #99c43a; color:#99c43a; transition:0.3s; padding-bottom:3px; }

#man_nav li a { color: #000000; font-size: 17px; text-transform: capitalize; transition:0.3s }

/***********************/

.slider { margin:0px; padding:0px; width:100%; }

.slogan { background: url("/assets/green_brush.png") no-repeat scroll center center #4B6515; color: #FFFFFF; font-size: 38px; font-weight: normal; margin: 0; padding: 10px 0; text-align: center; width: 100%;  }

.slogan span { font-family: 'latoblack'; font-weight:normal }

/***********************/
.choose { background:url(/assets/brush_left.png) no-repeat left center, url(/assets/brush_middle.png)no-repeat center center, url(/assets/brush_right.png)no-repeat right center #fff; width:100%; display:block; padding:0px }

.choose .view_portfolio { text-align:center; position:relative; display:inline-block; width:49%; vertical-align:top; padding:35px 0px }

.choose .post_portfolio { text-align:center; position:relative; display:inline-block; width:50%; vertical-align:top; }

.choose img { text-decoration: none; display: table; margin: 0 auto; opacity: 1; -webkit-transform: scale(1, 1); -webkit-transition-timing-function: ease-out; -webkit-transition-duration: 250ms; -moz-transform: scale(1, 1); -moz-transition-timing-function: ease-out; -moz-transition-duration: 250ms; position:relative; }

.choose .post_portfolio:hover img, .choose .view_portfolio:hover img { opacity: 0.7; -webkit-transform: scale(1.05, 1.07); -webkit-transition-timing-function: ease-out; -webkit-transition-duration: 250ms; -moz-transform: scale(1.05, 1.07); -moz-transition-timing-function: ease-out; -moz-transition-duration: 250ms; ; z-index: 99; }

.choose .text { color: #4B6515; cursor: pointer; font-family: latoblack; font-size:70px; left: 0; position: absolute; top: 25%; z-index: 101; width:100% }

.choose .text { text-decoration: none; opacity: 1; -webkit-transform: scale(1, 1); -webkit-transition-timing-function: ease-out; -webkit-transition-duration: 250ms; -moz-transform: scale(1, 1); -moz-transition-timing-function: ease-out; -moz-transition-duration: 250ms; }

.choose .text:hover { opacity: 1; -webkit-transform: scale(1.05, 1.07); -webkit-transition-timing-function: ease-out; -webkit-transition-duration: 250ms; -moz-transform: scale(1.05, 1.07); -moz-transition-timing-function: ease-out; -moz-transition-duration: 250ms; ; z-index: 102; text-shadow: 3px 3px 3px #888888; }

.choose .text span { color: #000000; display: block; font-family: latolight; font-size: 32px; text-transform: uppercase; }

.choose .text i { font-size:14px; font-family: 'latoregular'; color:#8e8e8e; font-style:normal }

/***********************/

.section_heading { background: none repeat scroll 0 0 #F0F0F0; border-bottom: 1px solid #DADADA; box-shadow: 5px 0 11px #DADADA; margin-bottom: 20px; padding: 15px 0; }

.section_heading .left_section { color:#5c5c5c; font-size:22px; float:left }

.section_heading .left_section a { color:#5c5c5c; font-size:30px; color:#4b6515; font-family: 'latoblack'; cursor:pointer; transition:0.5s }

.section_heading .left_section a:hover { color:#709326; transition:0.5s }

.section_heading .right_section { font-size:24px; color:#709326; font-family: 'latobold'; float:right; line-height:35px; font-weight:normal }

/***********************/

.main_container { margin:0px; padding:0px; background:none; width:100% }

#editorsPicks { margin:0px; padding:0px; width:100% }

#editorsPicks li.isotope-item { margin:0 2px 2px 0; position:relative; display:inline-block; overflow:hidden; vertical-align:top }

.black_square { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); bottom: 0; height: 99%; left: 0; pointer-events: none; position: absolute; top: 0; width: 100%; transition: all 0.7s ease 0s }

#editorsPicks li.isotope-item:hover .black_square { background:rgba(0, 0, 0, 0.4); transition: all 0.7s ease 0s }

.trendingInfo.isotopeSummary { -moz-box-sizing: border-box; bottom: 0; color: rgba(255, 255, 255, 0.75); height: 55%; left: 0; margin: 0 5%; overflow: visible; padding: 0; position: absolute; top: 65%; width: 90%; transition: all 0.7s ease 0s }

.trendingInfo h6.aqua:after { border-right: 7px solid rgba(0, 0, 0, 0); border-top: 7px solid rgba(0, 0, 0, 0); bottom: -7px; content: ""; display: block; left: 0; position: absolute; transition: border 0.3s ease 0s; border-top-color:#2caa9f; }

.trendingInfo h6.aqua { background: none repeat scroll 0 0 #2CAA9F; color: #FFFFFF; font-size: 14px; padding: 5px; position: relative; width: 75px; }

.trendingInfo h6.pink:after { border-right: 7px solid rgba(0, 0, 0, 0); border-top: 7px solid rgba(0, 0, 0, 0); bottom: -7px; content: ""; display: block; left: 0; position: absolute; transition: border 0.3s ease 0s; border-top-color:#fb96b8; }

.trendingInfo h6.pink { background: none repeat scroll 0 0 #fb96b8; color: #FFFFFF; font-size: 14px; padding: 5px; position: relative; width: 75px; }

.trendingInfo h6.violet:after { border-right: 7px solid rgba(0, 0, 0, 0); border-top: 7px solid rgba(0, 0, 0, 0); bottom: -7px; content: ""; display: block; left: 0; position: absolute; transition: border 0.3s ease 0s; border-top-color:#5037cc; }

.trendingInfo h6.violet { background: none repeat scroll 0 0 #5037cc; color: #FFFFFF; font-size: 14px; padding: 5px; position: relative; width: 80px; }

.trendingInfo h6 a { color:#fff; font-weight:normal }

#editorsPicks .isotopeSummary h4 { display: block; font-weight: 200; font-size: 20px; padding-top:12px; }

#editorsPicks .isotopeSummary h4 a { color:#fff; }

p.description { color: #FFFFFF; font-size: 14px; padding:5px 0px 0px; opacity:0 }

.isotope-item:hover .trendingInfo.isotopeSummary { height: 55%; top: 45%; transition: all 0.7s ease 0s }

.pull1 { margin-top: -241px !important; }

.isotope-item:hover p.description { opacity:1 }

/***********/
.discover { background: url("/assets/category.png") no-repeat scroll left top rgba(0, 0, 0, 0); color: #FFFFFF; font-family: latolight; font-size: 32px; font-weight: normal; padding: 10px 4%; width: 92%; }

.discover_nav { display: table; margin: 0; padding: 10px 0 15px; }

.discover_nav > li { background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2); border: 1px solid #FFFFFF; border-radius: 4px; float: left; line-height: 14px; margin: 0 5px 5px 0; padding: 5px 10px; }

.discover_nav a { color:#fff; font-size: 16px; }

.search { background: none repeat scroll 0 0 #FFFFFF; border-radius: 3px; padding: 1px; width: 95%; }

.search input { background: none repeat scroll 0 0 #FFFFFF; border: medium none; box-shadow: none; color: #A2A2A1; font-family: latolight; font-size: 16px; padding: 8px 2%; width: 82%; }

.search .go { background: none repeat scroll 0 0 #567882; border-radius: 0 3px 3px 0; color: #FFFFFF; font-family: latoregular; text-align: center; width: 10%; }

.ageFilter { padding: 20px 0; position: relative; width: 90%; }

#ageRange { -moz-user-select: none; background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7); color: #FFFFFF; cursor: pointer; height: 5px; margin-bottom: 15px; position: relative; }

#ageRange > .currentRange { background: none repeat scroll 0 0 #FFFFFF; height: 100%; left: 0; position: absolute; right: 0; top: 0; }

#ageRange > .grip { background-color: #FFFFFF; border-radius: 15px; box-shadow: 0 1px 1px #AAAAAA; cursor: pointer; height: 15px; position: absolute; top: -5px; width: 15px; }

#ageRange > .grip > span { display: inline-block; font-size: 15px; margin-top: 18px; }

.widget { padding-top:10px }

.widget .title { color: #99C43A; font-size: 20px; font-weight: normal; padding-bottom: 5px; }

.widget .block { box-shadow: 0 0 3px #A59E9E; width: 303px; }

.vid_name { color:#616161; font-size:22px; display:block }

.pull_inside1 { padding: 5px 10px; }

.pull_inside2 { padding:20px 15px; }

.view { background: url("/assets/view.jpg") no-repeat scroll left center rgba(0, 0, 0, 0); color: #919191; display: table; font-size: 12px; margin-top: 4px; padding: 0 0 2px 24px; }

.widget.social a { display: block; padding: 2px 0; }

.pull_inside2 > input[type="text"] { border: 1px solid #DDDDDD; color: #D6D6D6; font-size: 16px; padding: 9px; width: 93%; }

.pull_inside2 > input[type="button"] { font-size:15px; background: none repeat scroll 0 0 #2B2E36; transition:0.5s; border: medium none; color: #FFFFFF; float: right; margin-top: 7px; padding: 9px; width: 45%; cursor:pointer }

.pull_inside2 > input[type="button"]:hover { background: none repeat scroll 0 0 #42454d; transition:0.5s }

.tab_nav > li { background: none repeat scroll 0 0 #2B2E36; float: left; padding: 0; width: 33.3%; }

.tab_nav > li:hover, .tab_nav > li:hover a, .tab_nav > li.active, .tab_nav > li.active a { background:#fff; color:#97b850 }

.tab_nav > li a { color: #FFFFFF; display: block; font-family: latobold; font-size: 16px; padding: 10px 10%; width: 80%; }

.tab_content { padding:10px; }

.tab_content li { display: block; padding-bottom: 20px; width: 100%; }

.tab_content .imagecol { display: inline-block; vertical-align: top; width: 29%; }

.tab_content .txtcol { display: inline-block; padding-left: 3%; vertical-align: top; width: 66%; }

.tab_content .heading { font-size:16px; color:#656565; font-family: 'latobold'; padding-bottom:15px; }

.time { background: url("/assets/clock.jpg") no-repeat scroll left center rgba(0, 0, 0, 0); color: #919191; display: table; font-size: 12px; margin-top: 4px; padding: 0 0 0 14px; }

/************/

footer { background:#373737; text-align:center; margin-top:25px; padding:15px 0px; color:#99c43a; text-transform:uppercase;clear:both; }

.footer_social{ float:right}

.footer_social li{ float:left; margin-left:5px;}

.footer_social li:hover a { -webkit-animation: myfirst 0.4s 1 linear; -moz-animation: myfirst 0.5s 1 linear; animation: myfirst 0.5s 1 linear; }

.footer_social li a { transition:0.5s; -webkit-animation: mysecond 0.4s 1 linear; -moz-animation: mysecond 0.5s 1 linear; animation: mysecond 0.5s 1 linear; }


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #739B1F;
  width: 100%;
  border-radius: 1px;
  height: 78px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* updates */

.updates {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
  }
}
.text {
  display: block;
}
.timestamp {
  color: #4C4C4C;
  padding:10px 0 0 0;
  float:left;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/*
User profile portfolio section
*/
.profile_portfolio_section{
  float: left;
  padding: 5px;
  width: 100%;

  .new_portfolio_button_cont{
    float: left;
    padding: 5px;
    width: 100%;    
  }

  .profile_portfolio{
    float: left;
    width: 30%;
    margin: 10px;
    border: 1px dotted;
    
    .album_cover{
      float: left;
      width: 100%
    }
    .album_title{
      float: left;
      font-size: 110%;
      font-weight: bold;
      padding: 5px;
      width: 100%;
    }
     .album_category{
      color: #999999;
      float: left;
      font-weight: bold;
      width: 80%;
    }
  }
}

/*
Portfolio detail view
*/
.album_cont{
  float: left;
  width: 100%;

  .album_main{
    float: left;
    width: 70%;

    .album_header{
      background-color: #333333;
      color: #EEEEEE;
      padding: 1px 5px;
    }
    .album_body{
      .album_upload{
        margin-bottom: 20px;

        .album_upload_file{
          padding: 5px;      
        }      
      }
    }
    .album_footer{
    
    }
  }     
  .album_sidebar{
    float: left;
    width: 28%;
    padding: 5px;
    .user_info{
      float: left;
      width: 100%;  
    }
    .follow_form{
      float: left;
      width: 50%;
    }
    .connect_form{
      float: left;
      width: 50%;    
    }
    .album_description{
      float: left;
      width: 100%;
      margin-top: 10px;    
    }
  }
}

/*
User/edit
*/
.profile_fixed{
  float: left;
  width:30%
}
.profile_editable{
  float: left;
  width:70%
}

/*
_user
*/
.user_headshot{
  float: left;
  width: auto;
}
.user_name{
  float: left;
  width: auto;
}

.best_in_place{
  border-bottom: 1px dashed #0088CC;
  color: #0088CC;
  cursor: cell;
}
.innerBenner {background: url("/assets/inner_banner.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);height: 231px;margin: 0;padding: 0;position: relative;width: 100%;}

.innerBenner .news_feeds {clear: both;padding-top: 75px;text-align: center;}

.news_feeds .text {opacity: 1;text-decoration: none;transform: scale(1, 1);transition-duration: 250ms;transition-timing-function: ease-out;}

.news_feeds .text h2 {color: #000000;font-family: 'latobold';font-size: 60px;text-transform: capitalize;}

.news_feeds .text h2 span {color: #739B1F;font-family: 'latobold';font-size: 60px;}

.news_feeds .text p {color: #000000;font-family: 'latobold';font-size: 24px;text-transform: capitalize;}

.inneContainer {background: none repeat scroll 0 0 #F5F5F5;clear: both;display: table;padding: 15px 0;width: 100%;}

.inneContainer .innerLeft_section {float: left;width: 690px;}

.user_description {background: none repeat scroll 0 0 #FFFFFF;float: left;margin: 38px 0 0; width:690px;}

.inner_rightSection {float: right;}

.inner_rightSection {float: right;}

.makeup_sec {margin-bottom: 7px;position: relative;}

.inner_rightSection .make_comtact {background: none repeat scroll 0 0 #000000;bottom: 2px;margin: 0 2px;padding: 0 10.5px;position: absolute;width: 92%;}

.inner_rightSection .make_comtact p {color: #FFFFFF;font-family: 'latoregular';font-size: 16px;padding: 5px 0;}

.inner_rightSection .make_comtact em {color: #FFFFFF;font-family: 'latoregular';font-size: 12px;}

.inner_rightSection .make_comtact a {background: url("/assets/text_arrow.png") no-repeat scroll right 10px rgba(0, 0, 0, 0);color: #A2C654;float: right;font-family: 'latoregular';font-size: 14px;margin: 0 10px;padding: 8px 16px;}

.inneContainer .innerLeft_section .shere_with .public {border: 1px solid #CCCCCC;color: #4C4C4C;float: left;font-family: 'latolight';font-size: 12px;height: 28px;margin: 10px 0;padding: 4px;width: 395px;}

.inneContainer .innerLeft_section .shere_with .pubBtn {background: none repeat scroll 0 0 #81AA05;border: medium none;color: #FFFFFF;float: right;font-family: 'latobold';font-size: 16px;margin: 10px 0px;padding: 4px 20px;}

.user_data {float: left;width: 155px;}

.user_info{margin-top:-7%;}

.user_updates_form {float: left;width: 500px;}

.user_description .firstCol {background: none repeat scroll 0 0 #FFFFFF;border-bottom: 1px solid #EEEEEE;float: left;padding: 25px 0;}

.user_description .firstCol .img {float: left;margin: 0 20px 0 0;}

.user_description .firstCol .user {float: right;width: 82%;}

.user_description .firstCol .user .userTop {float: left; width:550px;}

.user_description .firstCol .user .userTop h2 {color: #82AB05;font-family: 'latoblack';font-size: 16px;}


.user_description .firstCol .user .userTop h3 {color: #4C4C4C;font-family: 'latoregular';font-size: 14px;font-weight: normal;padding: 0px 0;}

.user_description .firstCol .user .userTop ul li {float: left;margin: 0 10px 0 0;border-bottom:none;}

.user_description .firstCol .user .userTop ul {float: left;list-style: none outside none;}

.user_description .firstCol .user .userTop ul li img {float: left;padding: 5px 10px 0 0;}

.user_description .firstCol .user .userTop ul li p {color: #4C4C4C;float: left;font-family: 'latoregular';font-size: 14px;padding: 0 10px 0 0;}

.user_description .firstCol .user .userBottom .like_this {border-bottom: 1px solid #FFFFFF;padding: 12px 10px;height:7px;}

.user_description .firstCol .user .userBottom {background: none repeat scroll 0 0 #F4F4F4;float: left;width:550px}


.btn.likepubBtn{background:url("/assets/heart_img.png")no-repeat;border:none; color: #FFFFFF;}

.btn.pubBtn, .comment-reply {background: none repeat scroll 0 0 #81AA05;border: 1px solid #81AA05;border-radius: 1px;color: #FFFFFF;}

.text.required {height: 30px;}

.comment-user-name{color:#82AB05}

.like-left{float:left;}

#like-count {float: left;margin: -6px 0 0;}

form {margin: 0 0 5px;}

.current-liker-name {color: #82AB05;}

.reply-button {float: left;width: 100%;}
