@charset "utf-8";
/* CSS Document */

@import "bootstrap";
@import 'bootstrap-datetimepicker';

/* mixins, variables, etc. */
$grayLight: #eaeaea;
$grayMediumLight: #eaeaea;
$grayLighter: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { margin:0px; padding:0px; background:#F3F1F1; font-family:'latoregular', Arial, Helvetica, sans-serif; font-size:13px; font-family: 'latoregular'; line-height: normal }

* { margin:0px; padding:0px; }

a {
    color: #82AB05;
}


a:hover, a:focus {
    color: #82AB05;
    text-decoration: underline;
}

.left { float:left }

.right { float:right }

.clear { clear:both }

ul li { list-style:none }

a, img { border:none; text-decoration:none }

img { max-width:100% }

.wrapper_c { margin:0 auto; width:1024px; max-width:100%; position: relative; }

.wrapper_c:after, .wrapper_c:before { clear:both; display:table }

.wrapper {margin: 0 auto;max-width: 100%;position: relative;width: 1024px;}

button { cursor:pointer }

.align_middle { display: table; margin: 0 auto; }

.inline_block { display:inline-block; vertical-align:top }

.span690 { width:690px; }

.span315 { width:315px; }

.offset1 { margin-left:14px; }

/***********************/

header { margin:0px; padding:0px; width:100%; background:#f3f1f1; position:relative; }

#cancel-upload, #cancel-album, #cancel, #cancel-ads  {box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);display: inline-block;font-size: 13px;margin-left: 14px;line-height: 20px;margin-bottom: 0;padding: 3px 14px;text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);vertical-align: middle;}


#cancel-edu {box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);display: inline-block;font-size: 13px;margin-left: 14px;line-height: 20px;margin-bottom: 0;padding: 3px 14px;text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);vertical-align: middle;}

.form-actions-subscribe .btn{background: none repeat scroll 0 0 #000000;border: 1px solid #000000;color: #FFFFFF;float: right; border-radius: 0;}

.form-actions-ads #cancel-ads, .form-actions-ads .btn, .form-actions-edu .btn, .form-actions-edu #cancel-edu, .form-actions-skills .btn, .form-actions-skills #cancel {background: none repeat scroll 0 0 #000000;border: 1px solid #000000;color: #FFFFFF;float: left; border-radius: 0;}

.form-actions-upload #cancel-upload, .form-actions-upload #upload-btn, .form-actions-album #album-btn, .form-actions-album #cancel-album{background: none repeat scroll 0 0 #000000;border: 1px solid #000000;color: #FFFFFF;float: left; border-radius: 0;}

#response_subscription {background: none repeat scroll 0 0 #FFFFFF;font-size: 19px;text-align: center;width: 150px;}

.login_nav { float:right; clear:both }

.login_nav:after, .login_nav:before { clear:both }

.login_nav li { float:left; list-style:none }

.login { background: url("/assets/login.png") no-repeat scroll left top rgba(0, 0, 0, 0); color: #FFFFFF; font-weight: bold; padding: 15px 12px 25px 17px; position: absolute; right: 0; text-transform: uppercase; top: -4px; }

.login_nav li a { color:#8fba37 }

.login_nav li { border-right: 1px solid #E5E5E5; line-height: 12px; padding: 4px 7px; }

.login_nav li:last-child { border:none }

.login_nav li.login { background: url("/assets/login.png") no-repeat scroll left top rgba(0, 0, 0, 0); color: #FFFFFF; display: block; font-family: 'latobold'; margin-left: 8px; padding: 3px 12px 25px 20px; position: relative; text-align: center; text-transform: none; top: 0; width: 54px; }

.login_nav li.login a { color:#fff; font-weight:normal; font-size:16px; }

.logo { z-index: 1; left: 50%; margin-left: -79px; position: absolute; top: 0; padding: 0; cursor:pointer }



nav:after, nav:before { clear: both; }

nav:after, nav:before { clear: both; }

nav { display: block; float: left; margin-top: 4px; padding-bottom: 28px; position: relative; width: 100%; }

.midsection {margin-left: 25px; margin-right: 162px; }

#header_wrapper ul { margin:0;  }

#man_nav li:last-child, .midsection { border:none }

#man_nav li { float:left; list-style:none; padding:0px 12px; border-right:1px solid #e3e3e3; line-height:12px; }

#man_nav li:hover a { border-bottom:3px solid #99c43a; color:#99c43a; transition:0.3s; padding-bottom:3px; text-decoration:none; }

#man_nav li a { color: #000000; font-size: 17px; text-transform: capitalize; transition:0.3s }

/***********************/

.slider { margin:0px; padding:0px; width:100%; }

.slogan { background: url("/assets/green_brush.png") no-repeat scroll center center #4B6515; color: #FFFFFF; font-size: 38px; font-weight: normal; margin: 0; padding: 10px 0; text-align: center; width: 100%;  }

.slogan span { font-family: 'latoblack'; font-weight:normal }

/***********************/
.choose { background:url(/assets/brush_left.png) no-repeat left center, url(/assets/brush_middle.png)no-repeat center center, url(/assets/brush_right.png)no-repeat right center #fff; width:100%; display:block; padding:0px }

.choose .view_portfolio { text-align:center; position:relative; display:inline-block; width:49%; vertical-align:top; padding:35px 0px }

.choose .post_portfolio { text-align:center; position:relative; display:inline-block; width:50%; vertical-align:top; }

.choose img { text-decoration: none; display: table; margin: 0 auto; opacity: 1; -webkit-transform: scale(1, 1); -webkit-transition-timing-function: ease-out; -webkit-transition-duration: 250ms; -moz-transform: scale(1, 1); -moz-transition-timing-function: ease-out; -moz-transition-duration: 250ms; position:relative; }

.choose .post_portfolio:hover img, .choose .view_portfolio:hover img { opacity: 0.7; -webkit-transform: scale(1.05, 1.07); -webkit-transition-timing-function: ease-out; -webkit-transition-duration: 250ms; -moz-transform: scale(1.05, 1.07); -moz-transition-timing-function: ease-out; -moz-transition-duration: 250ms; ; z-index: 99; }

.choose .text { color: #4B6515; cursor: pointer; font-family: latoblack; font-size:70px; left: 0; position: absolute; top: 25%; z-index: 101; width:100% }

.choose .text { text-decoration: none; opacity: 1; -webkit-transform: scale(1, 1); -webkit-transition-timing-function: ease-out; -webkit-transition-duration: 250ms; -moz-transform: scale(1, 1); -moz-transition-timing-function: ease-out; -moz-transition-duration: 250ms; }

.choose .text:hover { opacity: 1; -webkit-transform: scale(1.05, 1.07); -webkit-transition-timing-function: ease-out; -webkit-transition-duration: 250ms; -moz-transform: scale(1.05, 1.07); -moz-transition-timing-function: ease-out; -moz-transition-duration: 250ms; ; z-index: 102; text-shadow: 3px 3px 3px #888888; }

.choose .text span { color: #000000; display: block; font-family: latolight; font-size: 32px; text-transform: uppercase; }

.choose .text i { font-size:14px; font-family: 'latoregular'; color:#8e8e8e; font-style:normal }

/***********************/

.section_heading { background: none repeat scroll 0 0 #F0F0F0; border-bottom: 1px solid #DADADA; box-shadow: 5px 0 11px #DADADA; margin-bottom: 20px; padding: 15px 0; }

.section_heading .left_section { color:#5c5c5c; font-size:22px; float:left }

.section_heading .left_section a { color:#5c5c5c; font-size:30px; color:#4b6515; font-family: 'latoblack'; cursor:pointer; transition:0.5s }

.section_heading .left_section a:hover { color:#709326; transition:0.5s }

.section_heading .right_section { font-size:24px; color:#709326; font-family: 'latobold'; float:right; line-height:35px; font-weight:normal }

/***********************/

.main_container { margin:0px; padding:0px; background:none; width:100% }

#editorsPicks { margin:0px; padding:0px; width:100% }

#editorsPicks li.isotope-item {     display: inline-block;margin: 6px 2px 27px 7px;overflow: hidden;position: relative;vertical-align: top;width: 30%; }

.black_square { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); bottom: 0; height: 99%; left: 0; pointer-events: none; position: absolute; top: 0; width: 100%; transition: all 0.7s ease 0s }

#editorsPicks li.isotope-item:hover .black_square { background:rgba(0, 0, 0, 0.4); transition: all 0.7s ease 0s }

.trendingInfo.isotopeSummary { -moz-box-sizing: border-box; bottom: 0; color: rgba(255, 255, 255, 0.75); height: 55%; left: 0; margin: 0 5%; overflow: visible; padding: 0; position: absolute; top: 52%; width: 90%; transition: all 0.7s ease 0s }

.trendingInfo h6.aqua:after { border-right: 7px solid rgba(0, 0, 0, 0); border-top: 7px solid rgba(0, 0, 0, 0); bottom: -7px; content: ""; display: block; left: 0; position: absolute; transition: border 0.3s ease 0s; border-top-color:#2caa9f; }

.trendingInfo h6.aqua { background: none repeat scroll 0 0 #2CAA9F; color: #FFFFFF; font-size: 14px; padding: 5px; position: relative; width: 75px; }

.trendingInfo h6.pink:after { border-right: 7px solid rgba(0, 0, 0, 0); border-top: 7px solid rgba(0, 0, 0, 0); bottom: -7px; content: ""; display: block; left: 0; position: absolute; transition: border 0.3s ease 0s; border-top-color:#fb96b8; }

.trendingInfo h6.pink { background: none repeat scroll 0 0 #fb96b8; color: #FFFFFF; font-size: 14px; padding: 5px; position: relative; width: 75px; }

.trendingInfo h6.violet:after { border-right: 7px solid rgba(0, 0, 0, 0); border-top: 7px solid rgba(0, 0, 0, 0); bottom: -7px; content: ""; display: block; left: 0; position: absolute; transition: border 0.3s ease 0s; border-top-color:#5037cc; }

.trendingInfo h6.violet { background: none repeat scroll 0 0 #5037cc; color: #FFFFFF; font-size: 14px; padding: 5px; position: relative; width: 80px; }

.trendingInfo h6 a { color:#fff; font-weight:normal }

#editorsPicks .isotopeSummary h4 { display: block; font-weight: 200; font-size: 20px; padding-top:12px; }

#editorsPicks .isotopeSummary h4 a { color:#fff; }

p.description { color: #FFFFFF; font-size: 14px; padding:5px 0px 0px; opacity:0 }

.isotope-item:hover .trendingInfo.isotopeSummary { height: 55%; top: 45%; transition: all 0.7s ease 0s }

.pull1 { margin-top: -241px !important; }

.isotope-item:hover p.description { opacity:1 }

/***********/
.discover { background: url("/assets/category.png") no-repeat scroll left top rgba(0, 0, 0, 0); color: #FFFFFF; font-family: latolight; font-size: 32px; font-weight: normal; padding: 10px 4%; width: 92%;float:left; }

.discover_nav { display: table; margin: 0; padding: 10px 0 15px; }

.discover_nav > li { background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2); border: 1px solid #FFFFFF; border-radius: 4px; float: left; line-height: 14px; margin: 0 5px 5px 0; padding: 5px 10px; }

.discover_nav a { color:#fff; font-size: 16px; }

.search { background: none repeat scroll 0 0 #FFFFFF; border-radius: 3px; padding: 1px; width: 95%; }

.search input { background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    box-shadow: none;
    color: #A2A2A1;
    font-family: latolight;
    font-size: 16px;
    height: 35px !important;
    line-height: 35px !important;
    margin: 0 !important;
    padding: 0 10px !important;
    width: 82%; }

.search .go { background: none repeat scroll 0 0 #567882; border-radius: 0 3px 3px 0; color: #FFFFFF; font-family: latoregular; text-align: center; width: 10%;  float: right;
    margin: 0;
    width: 10%; }

.ageFilter { padding: 20px 0; position: relative; width: 90%; }

#ageRange { -moz-user-select: none; background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7); color: #FFFFFF; cursor: pointer; height: 5px; margin-bottom: 15px; position: relative; }

#ageRange > .currentRange { background: none repeat scroll 0 0 #FFFFFF; height: 100%; left: 0; position: absolute; right: 0; top: 0; }

#ageRange > .grip { background-color: #FFFFFF; border-radius: 15px; box-shadow: 0 1px 1px #AAAAAA; cursor: pointer; height: 15px; position: absolute; top: -5px; width: 15px; }

#ageRange > .grip > span { display: inline-block; font-size: 15px; margin-top: 18px; }

.widget { padding-top:10px }

.widget .title { color: #99C43A; font-size: 20px; font-weight: normal; padding-bottom: 5px; }

.widget .block { box-shadow: 0 0 3px #A59E9E; width: 303px; }

.vid_name { color:#616161; font-size:22px; display:block }

.pull_inside1 { padding: 5px 10px; }

.pull_inside2 { padding:20px 15px; }

.view { background: url("/assets/view.jpg") no-repeat scroll left center rgba(0, 0, 0, 0); color: #919191; display: table; font-size: 12px; margin-top: 4px; padding: 0 0 2px 24px; }

.widget.social a { display: block; padding: 2px 0; }

.pull_inside2 > input[type="text"] { border: 1px solid #DDDDDD; color: #D6D6D6; font-size: 16px; padding: 9px; width: 93%; }

.pull_inside2 > input[type="button"] { font-size:15px; background: none repeat scroll 0 0 #2B2E36; transition:0.5s; border: medium none; color: #FFFFFF; float: right; margin-top: 7px; padding: 9px; width: 45%; cursor:pointer }

.pull_inside2 > input[type="button"]:hover { background: none repeat scroll 0 0 #42454d; transition:0.5s }

.tab_nav > li { background: none repeat scroll 0 0 #2B2E36; float: left; padding: 0; width: 33.3%; }

.tab_nav > li:hover, .tab_nav > li:hover a, .tab_nav > li.active, .tab_nav > li.active a { background:#fff; color:#97b850 }

.tab_nav > li a { color: #FFFFFF; display: block; font-family: latobold; font-size: 16px; padding: 10px 10%; width: 80%; }

.tab_content { padding:10px; }

.tab_content li { display: block; padding-bottom: 20px; width: 100%; }

.tab_content .imagecol { display: inline-block; vertical-align: top; width: 29%; }

.tab_content .txtcol { display: inline-block; padding-left: 3%; vertical-align: top; width: 66%; }

.tab_content .heading { font-size:16px; color:#656565; font-family: 'latobold'; padding-bottom:15px; }

.time { background: url("/assets/clock.jpg") no-repeat scroll left center rgba(0, 0, 0, 0); color: #919191; display: table; font-size: 12px; margin-top: 4px; padding: 0 0 0 14px; }

/************/

footer { background:#373737; text-align:center; margin-top:25px; padding:15px 0px; color:#99c43a; text-transform:uppercase;clear:both; }

.footer_social{ float:right}

.footer_social li{ float:left; margin-left:5px;}

.footer_social li:hover a { -webkit-animation: myfirst 0.4s 1 linear; -moz-animation: myfirst 0.5s 1 linear; animation: myfirst 0.5s 1 linear; }

.footer_social li a { transition:0.5s; -webkit-animation: mysecond 0.4s 1 linear; -moz-animation: mysecond 0.5s 1 linear; animation: mysecond 0.5s 1 linear; }


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}


/* forms */

input, textarea, .uneditable-input {
  border: 1px solid #739B1F;
  width: 100%;
  border-radius: 1px;
  height: 78px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* updates */

.updates {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
  }
}
.text {
  display: block;
}
.timestamp {
  color: #4C4C4C;
  padding:10px 0 0 0;
  float:left;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/*
User profile portfolio section
*/
.profile_portfolio_section{
  float: left;
  padding: 5px;
  width: 100%;

  .new_portfolio_button_cont{
    float: left;
    padding: 5px;
    width: 42%;    
  }
   .new_portfolio_button_cont-upload{
    float: right;
    padding: 5px;
    width: 42%;    
  }

  .profile_portfolio{
    border: 1px dotted;
    float: left;
    height: 455px;
    margin: 10px;
    width: 30%;
    
    
    
    .album_cover{
      float: left;
      width: 100%
    }
    .album_title-single-profile{
      float: left;
      font-size: 110%;
      font-weight: bold;
      padding: 5px;
      width: 100%;
      margin: 328px 0 0;
    }
    .album_title{
      float: left;
      font-size: 110%;
      font-weight: bold;
      padding: 5px;
      width: 100%;
     
    }
     .album_category{
      color: #999999;
      float: left;
      font-weight: bold;
      width: 80%;
    }
  }
  
    .profile_portfolio_delux{
   float: left;
    margin: 157px 0 0 -195px;
    width: 30%;
    
    
    
    .album_cover{
      float: left;
      width: 100%
    }
    .album_title-single-profile{
      float: left;
      font-size: 110%;
      font-weight: bold;
      padding: 5px;
      width: 100%;
      margin: 328px 0 0;
    }
    .album_title{
      float: left;
      font-size: 110%;
      font-weight: bold;
      padding: 5px;
      width: 100%;
     
    }
     .album_category{
      color: #999999;
      float: left;
      font-weight: bold;
      width: 80%;
    }
  }
}

/*
Portfolio detail view
*/
.album_cont{
  float: left;
  width: 100%;

  .album_main{
    float: left;
    width: 70%;

    .album_header{
      background-color: #333333;
      color: #EEEEEE;
      padding: 1px 5px 1px 33px;
    }
    .album_body{
      .album_upload{
        text-align:center;

        .album_upload_file{
          padding: 5px;      
        }      
      }
    }
    .album_footer{
    
    }
  }     
  .album_sidebar{
    float: left;
    width: 28%;
    padding: 5px;
    margin-top:2%;
    .user_info{
      float: left;
      width: 100%;  
    }
    .follow_form{
      float: left;
      width: 50%;
    }
    .connect_form{
      float: left;
      width: 50%;    
    }
    .album_description{
      float: left;
      width: 100%;
      margin-top: 10px;    
    }
  }
}

/*
User/edit
*/
.profile_fixed{
  float: left;
  width:30%
}
.profile_editable{
  float: left;
  width:30%
}

/*
_user
*/
.user_headshot{
  float: left;
    width: 22%;
}
.user_img{float:left;}

.user_name{
  float: left;
  width: auto;
}

.best_in_place{
  border-bottom: 1px dashed #4A4A4A;
  color: #4A4A4A;
  cursor: cell;
}
.innerBenner {background: url("/assets/inner_banner.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);height: 231px;margin: 0;padding: 0;position: relative;width: 100%;}

.innerBenner .news_feeds {clear: both;padding-top: 75px;text-align: center;}

.news_feeds .text {opacity: 1;text-decoration: none;transform: scale(1, 1);transition-duration: 250ms;transition-timing-function: ease-out;}

.news_feeds .text h2 {color: #000000;font-family: 'latobold';font-size: 60px;text-transform: capitalize;}

.news_feeds .text h2 span {color: #739B1F;font-family: 'latobold';font-size: 60px;}

.news_feeds .text p {color: #000000;font-family: 'latobold';font-size: 24px;text-transform: capitalize;}

.inneContainer {background: none repeat scroll 0 0 #F5F5F5;clear: both;display: table;padding: 15px 0;width: 100%;}

.inneContainer .innerLeft_section {float: left;width: 690px;}

.user_description {background: none repeat scroll 0 0 #FFFFFF;float: left;margin: 38px 0 0; width:690px;}

.inner_rightSection {float: right; width:31%;}

.inner_rightSection {float: right;width:31%;}

.makeup_sec {margin-bottom: 7px;position: relative;}

.inner_rightSection .make_comtact {background: none repeat scroll 0 0 #000000;bottom: 2px;margin: 0 2px;padding: 0 10.5px;position: absolute;width: 92%;}

.inner_rightSection .make_comtact p {color: #FFFFFF;font-family: 'latoregular';font-size: 16px;padding: 5px 0;}

.inner_rightSection .make_comtact em {color: #FFFFFF;font-family: 'latoregular';font-size: 12px;}

.inner_rightSection .make_comtact a {background: url("/assets/text_arrow.png") no-repeat scroll right 10px rgba(0, 0, 0, 0);color: #A2C654;float: right;font-family: 'latoregular';font-size: 14px;margin: 0 10px;padding: 8px 16px;}

.inneContainer .innerLeft_section .shere_with .public {border: 1px solid #CCCCCC;color: #4C4C4C;float: left;font-family: 'latolight';font-size: 12px;height: 28px;margin: 10px 0;padding: 4px;width: 395px;}

.inneContainer .innerLeft_section .shere_with .pubBtn {background: none repeat scroll 0 0 #81AA05;border: medium none;color: #FFFFFF;float: right;font-family: 'latobold';font-size: 16px;margin: 2px 0px;padding: 4px 20px;}

.user_data {float: left;width: 155px;}

.user_info{margin-top:-7%;}

.user_updates_form {float: left;width: 500px;}

.user_description .firstCol {background: none repeat scroll 0 0 #FFFFFF;border-bottom: 1px solid #EEEEEE;float: left;padding: 25px 0;}

.user_description .firstCol .img {float: left;margin: 0 20px 0 0;}

.user_description .firstCol .user {float: right;width: 82%;}

.user_description .firstCol .user .userTop {float: left; width:550px;}

.user_description .firstCol .user .userTop h2 {color: #82AB05;font-family: 'latoblack';font-size: 16px;}


.user_description .firstCol .user .userTop h3 {color: #4C4C4C;font-family: 'latoregular';font-size: 14px;font-weight: normal;padding: 0px 0;}

.user_description .firstCol .user .userTop ul li {float: left;margin: 0 10px 0 0;border-bottom:none;}

.user_description .firstCol .user .userTop ul {float: left;list-style: none outside none;}

.user_description .firstCol .user .userTop ul li img {float: left;padding: 5px 10px 0 0;}

.user_description .firstCol .user .userTop ul li p {color: #4C4C4C;float: left;font-family: 'latoregular';font-size: 14px;padding: 0 10px 0 0;}

.user_description .firstCol .user .userBottom .like_this {border-bottom: 1px solid #FFFFFF;padding: 12px 10px;height:7px;}

.user_description .firstCol .user .userBottom {background: none repeat scroll 0 0 #F4F4F4;float: left;width:550px}


.btn.likepubBtn{background:url("/assets/heart_img.png")no-repeat;border:none; color: #FFFFFF;}

.btn.pubBtn, .comment-reply {background: none repeat scroll 0 0 #81AA05;border: 1px solid #81AA05;border-radius: 1px;color: #FFFFFF;}

.text.required {height: 30px;}

.like-left{float:left;}

#like-count {float: left;margin: -6px 0 0;}

form {margin: 0 0 5px;}

.current-liker-name {color: #82AB05;}

.reply-button {float: left;width: 100%;}

.sub-category-select
{display:none;}

.delete-update {
    float: right;
    padding-right: 8px;
}

.user_headshot img {
    float: right;

}

.pricing_page {padding: 70px 0 40px;}

.basic_plan {background: none repeat scroll 0 0 #DFDEDE;border: 2px solid #C5C4C4;border-radius: 5px;float: left;padding: 0 20px 0 40px;width: 40%;}

.free_plan {float: left;}

.free_plan h2 {font-family: Calibri;font-size: 47px;font-weight: bold;margin: 34px 0;}

.free_plan ul {list-style: none outside none;}

.free_plan ul li {background: url("../assets/listing_star.png") no-repeat scroll 0 2px rgba(0, 0, 0, 0);display: block;font-family: 'latoregular';font-size: 20px;padding: 0 0 0 10px;}

.free_plan ul li a {color: #484848;display: block;padding: 0 0 20px;}

.get_started {float: right;margin: -15px 0;}

.price {text-align: center;width: 100%;}

.price h2 {color: #2A83C4;font-family: "Arial Black";font-size: 88px;position: relative;text-shadow: 5px 5px 5px #BBBABA;}

.price h2 span {bottom: 0px;color: #6D6D6C;font-family: Calibri;font-size: 21px;position: absolute;right: 80px;}

.free_plan h2 span {color: #2495E3;}

.free_plan h2 em {color: #282828;display: block;font-family: 'latoregular';font-size: 26px;font-style: normal;}

.Awesome_Plan {background: none repeat scroll 0 0 #DFDEDE;border: 2px solid #C5C4C4;border-radius: 5px;float: right;padding: 0 20px 0 40px;width: 40%;}

.sale_plan {float: left;}

.sale_plan h2 {color: #575876;font-family: Calibri;font-size: 47px;font-weight: bold;margin: 34px 0;}

.sale_plan h2 span {color: #7BA400;}

.sale_plan h2 em {color: #282828;display: block;font-family: 'latoregular';font-size: 26px;font-style: normal;}

.sale_plan ul {list-style: none outside none;}

.sale_plan ul li {background: url("/assets/listing_star.png") no-repeat scroll 0 2px rgba(0, 0, 0, 0);display: block;font-family: 'latoregular';font-size: 20px;padding: 0 0 0 10px;}

.sale_plan ul li a {color: #484848;display: block;padding: 0 0 20px;}

.get_started {float: right;margin: -15px 0;}

.price_sale {text-align: center;width: 100%;}

.price_sale h2 {color: #7BA400;font-family: "Arial Black";font-size: 88px;position: relative;text-shadow: 5px 5px 5px #BBBABA;}

.clear {clear: both;}


.price_sale h2 span {bottom: 0px;color: #6D6D6C;font-family: Calibri;font-size: 21px;position: absolute;right: 80px;}

*{
	margin:0;
	padding:0;
}

.pp_loading{
	display:none;
	position:fixed;
	top:50%;
	left:50%;
	margin:-35px 0px 0px -35px;
	background:#fff url(/assets/loader.gif) no-repeat center center;
	width:70px;
	height:70px;
	z-index:999;
	opacity:0.7;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.pp_next, .pp_prev{
	cursor:pointer;
	top:50%;
	margin-top:-16px;
	width:32px;
	height:32px;
	position:fixed;
	text-align:center;
	border:1px solid #111;
	color:#fff;
	z-index: 99999;
	-moz-box-shadow:0px 0px 3px #000;
	-webkit-box-shadow:0px 0px 3px #000;
	box-shadow:0px 0px 3px #000;
}
.pp_next{
	right:-40px;
	background:#222 url(/assets/next.png) no-repeat center center;
}
.pp_prev{
	left:-40px;
	background:#222 url(/assets/prev.png) no-repeat center center;
}
#pp_thumbContainer{
	bottom:0px;
	left:0px;
	height:65px;
	width:100%;
}
#pp_thumbContainer .album{
   border: 1px solid #CCCCCC;
    float: left;
    height: 317px;
    margin: 15px 0 0 10px;
    position: relative;
    width: 30%;

}
.album .descr,
.pp_back{
	position:absolute;
	bottom:0px;
	left:-16px;
	background:#222;
	text-align:center;
	border:1px solid #111;
	padding:5px;
	cursor:pointer;
	width:169px;
	color:#fff;
	cursor:pointer;
	text-shadow:0px 0px 1px #fff;
	-moz-box-shadow:1px 1px 4px #000;
	-webkit-box-shadow:1px 1px 4px #000;
	box-shadow:1px 1px 4px #000;
}
.pp_back{
	text-transform:uppercase;
	bottom:120px;
	left:-100px;
	width:80px;
}
#pp_thumbContainer .content{
    cursor: pointer;
    height: 100px;
    padding: 37px 0 0 25px;
    position: absolute;
    width: 135px;
}
#pp_thumbContainer img{
	border:5px solid #fff;
	-moz-box-shadow:1px 1px 7px #000;
	-webkit-box-shadow:1px 1px 7px #000;
	box-shadow:1px 1px 7px #000;
}
#pp_thumbContainer .content span{
	display:none;
}
.pp_preview{
	position:fixed;
	top:70%;
	left:50%;
}
.pp_preview img{
	position:absolute;
	top:0px;
	left:0px;
	border:10px solid #fff;
	border-bottom:45px solid #fff;
	-moz-box-shadow:1px 1px 7px #000;
	-webkit-box-shadow:1px 1px 7px #000;
	box-shadow:1px 1px 7px #000;
}
.pp_descr{
	height:45px;
	line-height:45px;
	font-size:20px;
	width:100%;
	bottom:0px;
	left:0px;
	position:absolute;
	text-align:center;
	color:#00021c;
}

.awesom-plan-register {background: url("/assets/register.jpeg") no-repeat scroll 0 2px rgba(0, 0, 0, 0);float: right;left: 28%;margin: 18px 188px 0 0;width: 121px;height:40px;}

.basic-plan-register {background: url("/assets/reg.jpeg") no-repeat scroll 0 2px rgba(0, 0, 0, 0);float: left; margin: -100px 0 0 172px;width: 123px; height:41px;}

.slider_profile { height: 300px;position: relative;width: 100%;}

.anisten {    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    left: 0;
    padding: 0 10px;
    position: absolute;
    top: 0;}

.anisten .ani_top {border-bottom: 1px dashed #B9B5BB;}

.anisten .ani_top h2 {color: #FFFFFF;font-family: 'latobold';font-size: 26px;}

.anisten .ani_top h2 span {display: block;font-family: 'latobold';font-size: 14px;padding-top: 7px;}

.anisten .art_gallery ul {list-style: none outside none;padding-top: 17px;}

.anisten .art_gallery ul li {display: block;}

.anisten .art_gallery ul h3 {   color: #ACCF5E;
    font-family: 'latoblack';
    font-size: 22px;
    line-height: 1;
    padding: 0;}

.anisten .art_gallery ul li span {color: #D4D4D4;float: left;font-family: 'latoregular';font-size: 12px;padding: 0 8px 0 0;}


.anisten .art_gallery ul li p {color: #FFFFFF;font-family: 'latoregular';font-size: 12px;margin:0;padding: 0 0 4px;}


.anisten .art_gallery ul h3 span {color: #FFFFFF;display: block;font-family: 'latoregular';font-size: 14px;}

.profile_picture {background: none repeat scroll 0 0 #FFFFFF;margin-bottom: 20px;padding: 20px 3px;}

.profile_picture .pick {height: 199px; left: 50%;position: absolute;top: 50%;width: 199px;}

.profile_picture .profile_nav ul {list-style: none outside none;}

.profile_picture .profile_nav ul li {display: inline-block;font-family: 'latoregular';font-size: 34px;padding: 10px 40px 0 0;}


.profile_picture .profile_nav ul li a {color: #83A735;}


.profile_picture .profile_nav ul li a span {font-family: 'latoregular';font-size: 20px;}


.profile_picture .profile_nav ul li.adv {padding: 0;}

.profile_picture .profile_nav ul li.adv1 {padding: 0 12px;}



.main_container {background: none repeat scroll 0 0 rgba(0, 0, 0, 0);margin: 0;padding: 0;width: 100%;}

.span690 {width: 690px; margin:0 auto;}

.inline_block {display: inline-block;vertical-align: top;}


.profile_background {background: none repeat scroll 0 0 #FFFFFF;padding: 0 10px;position: relative;}

.bg_buttan {background: url("/assets/bg_butten.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);border: medium none;font-family: 'latoregular';font-size: 14px;height: 48px;left: -26px;position: relative;text-align: center;top: 0;width: 103px;}

.bg_buttan a {color: #F3F1F1;display: block;padding: 5px 0;}


.summery {border-bottom: 1px solid #CCCCCC;}


.summery h2 {background: url("/assets/summery_butten.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);color: #6E8F26;font-family: 'latoregular';font-size: 16px;padding: 0 25px;}


.summery p {color: #4A4A4A;font-family: 'latoregular';font-size: 14px;padding: 10px 0;}


.education_photography {border-bottom: 1px solid #CCCCCC;padding: 15px 0;}


.education_photography .education {background: url("/assets/devison.png") no-repeat scroll right top rgba(0, 0, 0, 0);float: left;padding: 0 40px 0 0; width:38%}


.education_photography .education h2 {background: url("/assets/education.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);color: #6E8F26;font-family: 'latoregular';font-size: 16px;padding: 0 25px;}


.education_photography .education p {color: #5B5B5B;font-family: 'latobold';font-size: 18px;padding: 20px 0 0 25px;}


.education_photography .education p span {color: #5B5B5B;display: block;font-size: 14px;}

.education_photography .education p em {color: #B4B4B4;font-size: 14px;font-style: normal;}

.education_photography .key_skills {float: right;padding: 0;width: 50%;}

.education_photography .key_skills h2 {background: url("/assets/key_skill.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);color: #6E8F26;font-family: 'latoregular';font-size: 16px;padding: 0 25px;}

.education_photography .key_skills ul {float: left; width:88%;}

.education_photography .key_skills ul li {background: none repeat scroll 0 0 #F2F2F2;border: 1px solid #E0E0E0;border-radius: 4px;float: left;font-family: 'latoregular';font-size: 14px;line-height: 14px;margin: 0 5px 5px 0;padding: 5px 10px;}

.education_photography .key_skills ul li a {color: #A6A6A6;}

.box_sec {padding: 20px 0;}

.box_sec .box {border: 1px solid #CCCCCC;float: left;padding: 0;position: relative;width: 217px; margin: 2px 0 0 4px;}

.box_sec .box .potrate {padding: 10px;}

.box_sec .box .potrate h2 {color: #4A4A4A;font-family: 'latobold';font-size: 14px;}

.box_sec .box .potrate p {color: #CCCCCC;float: left;font-family: 'latoregular';font-size: 12px;padding: 0 10px 0 0;}

.box_sec .box .add_comment {clear: both;}

.box_sec .box .add_comment ul {float: left;}

.box_sec .box .add_comment ul li {display: block;margin: 10px 0;}

.box_sec .box .add_comment ul li img {float: left;padding: 0 5px 0 0;}

.box_sec .box .add_comment ul li p {float: none !important;}

.box_sec .box .add_comment ul li p {color: #777777;font-family: 'latobold';font-size: 12px;}

.box_sec .box .potrate p {float: left;padding: 0 10px 0 0;}

.box_sec .box .add_comment ul li p span {color: #AEADAD;display: block;font-family: 'latobold';font-size: 11px;}

.box_sec .box .add_comment ul li .msg {background: none repeat scroll 0 0 #F0F0F0;border: 1px solid #D4D4D4;border-radius: 4px;height: 60px;width: 145px;}

.offset1 {margin-left: 14px;}

.span315 {width: 315px;}

.inline_block {display: inline-block;vertical-align: top;}

.network h2 {color: #99C43A;font-family: 'latoregular';font-size: 20px;}

.network ul li {background: none repeat scroll 0 0 #E1E1E1;clear: both;display: block;height: 30px;margin: 0 0 1px;width: 100%;}

.network ul li span {float: left;margin: 8px 35px 0 10px;}

.network ul li p {color: #3F4747;float: left;font-family: 'latoregular';font-size: 16px;}

.network ul li a {float: right;padding: 4px;}

.socail_share {background: none repeat scroll 0 0 #F4EEEE;margin-bottom: 10px;padding: 13px 0;text-align: center; float:left; display:none;}

.social_user{display:none;}

.socail_share a {color: #6E8F26;float: right;font-family: 'latoregular';font-size: 12px;}

.discover {background: url("/assets/category.png") no-repeat scroll left top rgba(0, 0, 0, 0);color: #FFFFFF;font-family: latolight;font-size: 32px;font-weight: normal;padding: 10px 4%;width: 92%;}

.discover_nav {display: table;margin: 0;padding: 10px 0 15px;}

.discover_nav > li {background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);border: 1px solid #FFFFFF;border-radius: 4px;float: left;line-height: 14px;margin: 0 5px 5px 0;padding: 5px 10px;}

.discover_nav a {color: #FFFFFF;font-size: 16px;}

.search {background: none repeat scroll 0 0 #FFFFFF;border-radius: 3px;padding: 1px;width: 95%; height:35px}

.search input {background: none repeat scroll 0 0 #FFFFFF;border: medium none;box-shadow: none;color: #A2A2A1;font-family: latolight;font-size: 16px;padding: 8px 2%;width: 75%;}
.srch-portf {
    float: left;
    width: 90% !important;}
.login_nav img {
    width: 25px;
}
.spacial span{
    vertical-align: top;
}

.dropdown-menu > li {
    float: none;
    padding: 0;
}


.login_nav li.spacial:hover{ background:#ccc;}
.search .go {background: none repeat scroll 0 0 #567882;border-radius: 0 3px 3px 0;color: #FFFFFF;font-family: latoregular;text-align: center;width: 10%;}

.ageFilter {padding: 20px 0;position: relative;width: 90%;}

#ageRange {-moz-user-select: none;background: none repeat scroll 0 0 rgba(255, 255, 255, 0.698);color: #FFFFFF;cursor: pointer;height: 5px;margin-bottom: 15px;position: relative;}

#ageRange > .grip > span {display: inline-block;font-size: 15px;margin-top: 18px;}

.makeup_sec {margin-bottom: 7px;position: relative;clear:both;}

.add_sec .makeUp {margin: 10px 0;}

.make_comtact {background: none repeat scroll 0 0 rgba(61, 56, 66, 0.698);bottom: 2px;margin: 0 2px;padding: 0 10.5px;position: absolute;width: 92%;}

.make_comtact p {color: #FFFFFF;font-family: 'latoregular';font-size: 16px;padding: 5px 0;}

.make_comtact em {color: #FFFFFF;font-family: 'latoregular';font-size: 12px;}

.make_comtact a {background: url("/assets/text_arrow.png") no-repeat scroll right 10px rgba(0, 0, 0, 0);color: #A2C654;float: right;font-family: 'latoregular';font-size: 14px;margin: 0 10px;padding: 8px 16px;}

.portfolio {padding: 20px 0;}

.portfolio p {color: #000000;float: left;font-family: 'latoregular';font-size: 16px;}

.portfolio p span {color: #739B1F;}

.portfolio .our_base {float: left;margin: 50px 0;}

.portfolio .our_base h2 {color: #000000;font-family: 'latobold';font-size: 60px;text-transform: capitalize;}

.portfolio .our_base h2 span {color: #739B1F;}

.portfolio .our_base strong {color: #000000;display: block;font-family: 'latobold';font-size: 24px;text-transform: capitalize;}


.service_form {background: none repeat scroll 0 0 #F5F5F5;}

.quality {background: url("/assets/offer_shadow.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);height: 80px;}

.quality p {color: #000000;font-family: 'latoregular';font-size: 20px;padding: 27px 0 0;text-align: center;}

.quality a {color: #739B1F;font-family: 'latoblack_italic';font-size: 24px;}


/**********pricing table **********/

#basic .basic-plan-register {
    background: url("/assets/reg.jpeg") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 41px;
    margin: 20px 33%;
    width: 123px;
}

.basic_plan .price {
    clear: both;
    float: left;
    margin: 20px 0 0;
    text-align: center;
    width: 100%;
}




.Awesome_Plan .price_sale {
    display: block;
    float: left;
    margin: 20px 0;
    text-align: center;
    width: 100%;
}


.Awesome_Plan .price_sale h2 {
    clear: both;
    color: #7BA400;
    font-family: "Arial Black";
    font-size: 88px;
    margin: 0;
    position: relative;
    text-shadow: 5px 5px 5px #BBBABA;
}


.Awesome_Plan .awesom-plan-register {
    background: url("/assets/register.jpeg") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
    float: left;
    height: 40px;
    left: 0;
    margin: 20px 33%;
    width: 121px;
}

.inneContainer {background: none repeat scroll 0 0 #F5F5F5;clear: both;display: table;width: 100%;}

.dropdown a .pad {float: left;margin: 0 10px 0 0;}

.dropdown .key_word {background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #D3D3D3;float: left;height: 28px;width: 165px;}

.dropdown .key_word .srh {border: medium none;float: left;height: 25px;padding: 0 5px;width: 131px;}

.dropdown .key_word img {float: left;padding: 7px 5px;}

.dropNav {float: right;}

.dropNav ul {float: left;list-style: none outside none;}

.dropNav ul li:hover:before, .dropNav ul li.active:before {border-color: #6D941D rgba(0, 0, 0, 0);border-style: solid;border-width: 6px 5px 0;content: "";display: block;left: 50%;margin-left: -5px;position: absolute;top: 24px;}

.dropNav ul li:hover, .dropNav ul li.active {background: none repeat scroll 0 0 #6D941D;color: #000000;}

.dropNav ul li {display: block;float: left;font-family: 'latoregular';font-size: 15px;height: 24px;line-height: 24px;margin: 0 1px 0 0;position: relative;}

.dropNav ul li a {color: #FFFFFF;display: block;padding: 0 10px;}

.dropNav ul li {background: none repeat scroll 0 0 #2B3138;display: block;float: left;font-family: 'latoregular';font-size: 15px;height: 24px;line-height: 24px;margin: 0 1px 0 0;position: relative;}


.box_section {clear: both;}


.box_section ul {float: left;list-style: none outside none;margin:0 auto;}


.box_section ul li {background: none repeat scroll 0 0 #FFFFFF;box-shadow: 0 0 3px #CCCCCC;display: block;float: left;margin: 20px 0 0 19px;padding: 0;width: 320px;}


.box_section ul li h2 {color: #4A4A4A;float: left;font-family: 'latobold';font-size: 16px;padding: 0 15px;}

.box_section ul li a {color: #777777;float: right;font-family: 'latobold';padding: 3px 8px 0 20px;}

.favourite{background: url("/assets/star_img.png") no-repeat scroll left top rgba(0, 0, 0, 0);font-size:10px;}

.box_section ul li ul {border-top: 1px solid #D9D9D9;clear: both;list-style: none outside none;margin: 15px 0;}

.box_section ul li ul li {box-shadow: none;margin: 0;padding: 15px 0;}

.box_section ul li ul li p {color: #777777;font-family: 'latobold';font-size: 13px;}

.box_section ul li ul li em {color: #AEADAD;font-family: 'latobold';font-size: 13px;font-style: normal;}

.user_img {float: left;margin: 0 0 6px 8px;width: 50px;}

.potrate-img {    margin: 5px 0 0 7px;}

.potrate-img a{color: #494949; font-size: 14px;font-weight: bold;}

.box_section p {float: left;}

.portfolio-user-name{float: left;width: 250px;height:25px;}

.portf_like_cat {float: left;padding: 0 0 0 20px;width: 150px;height:25px;color: #AEADAD;font-family: 'latobold';font-size: 13px;font-style: normal;}

.album-name{color: #4A4A4A !important;}

.page_loader {background: url("/assets/profile_loader.png") repeat-x scroll 0 8px rgba(0, 0, 0, 0);margin-top: 45px;text-align: center;}

.page_loader img {background: none repeat scroll 0 0 #F5F5F5;padding: 0 10px;}

.inneContainer-links {background: none repeat scroll 0 0 #F5F5F5;clear: both;display: table;padding: 50px 0 0;width: 100%;}

    .profile_portfolio_delux{
    bottom: 16px;
    left: 5px;
    position: absolute;
    width: 186px;
}
  
  
.album_title-single-profile {
    float: left;
    width: 186px;
}
.album_title-single-profile a {
    color: #4A4A4A;
    font-family: latobold;
    font-size: 16px;
    padding: 0 0 0 10px;
}

.album_category {
    float: left;
    height: 18px;
    margin: 0 0 0 11px;
    width: 170px;
}

.user_img {
    float: left;
    margin: 0 0 0 15px;
    width: 30px;
}

.portfolio-user-name a {
    color: #777777;
    float: left;
    height: 25px;
    width: 100px;
}

.portfolio-user-name {
    float: left;
    height: 25px;
    width: 100px;
    margin:0 0 0 15px;
}

.portfolio-users-name {
    float: left;
    height: 25px;
    width: 200px;
}    
.art_social {
    bottom: 0;
    margin-top: 0;
    position: absolute;
    right: 0;
}

.art_social ul {
    list-style: none outside none;
}

.art_social ul li {
    float: left;
    padding: 0 10px 0 0;
}
.cover-photo {
    position: relative;
}    


.cover-photo .new_upload {
  left: 40%;
    margin: 0 auto;
    padding: 10% 0;
    position: absolute;
    top: 0;
    width: 250px;
    z-index: 999;
}

.album_title-single-profile a {
    color: #4A4A4A;
    font-family: latobold;
    font-size: 16px;
       padding: 0 0 0 10px;
}

.education a {
    color: #6E8F26 !important;
    font-family: latobold;
    font-size: 14px;
}

#skill-link {
    color: #6E8F26 !important;
    font-family: latobold;
    font-size: 14px;
    margin: 0 0 0 26px;
}


.add-links {
    float: left;
     margin-top: 12px;
}


#updates-img {
    left: 44%;
    position: absolute;
    top: 3px;
}

#update_file_attachment {
    width: 200px;
}

.pagination ul{ display:none;}

.page_loader{margin-top:50px;}

/************ for Skills********/
.skill-form{display:none;}

/********* for educations **********/
.edu-form{display:none;}

/********* for ads***********/
.ads-form{display:none;}

.form-actions-ads {float: left;margin: 16px 0 12px;}


/*********** for albums************/

.album-form{display:none;}

#album-btn {padding: 5px 0 4px;width: 100px;}

#new-album, #new-upload {font-weight: bold;}
    
#upload-btn {
    padding: 5px 7px 4px 6px;
}

.upload-form{display:none;}



#add-link a:hover, #new-album a:hover, #new-upload a:hover, #edu-link a:hover, #skill-link a:hover{cursor:pointer;}
.search_button {
}

#portfolio_sub_cat_box{
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 0 3px #CCCCCC;
  padding: 20px;
  background-color: #FFFFFF;
  position: absolute;
  z-index: 1;
  float: left;
}
.sub_category_chekboxes_container{
  float: left;
  width: 100%;  
}
.sub_category_chekbox_container{
  float: left;
  width:30%;
}
.group_cont{
   float: left;
  width: 100%; 
}
#portfolio_sub_cat_box{
  display:none;
  width:auto;
}

#ajax-portfolio-detail-homepage {
    left: 34%;
    width: 988px;
}

.dropdown-menu > li > a:hover{ background:#739B1F;}


.content > img {
    height: 200px;
    width: 218px;
}
