
.mobile_menu_btn{display:none;}

@media screen and (max-width:1060px) {

.wrapper_c, .wrapper, #content-container{width: 960px;}
.inneContainer .innerLeft_section {width: 620px;}
.inner_rightSection {width: 320px;}
.user_updates_form {position: relative;width: 510px;}
#updates-img {left: auto;right: 5px;}
.user_description {width: 620px;}
.user_description .firstCol .user .userBottom {width: 100%;}
.midsection {margin-right: 105px;	}
.inner_rightSection .make_comtact {bottom: 0;margin: 0;padding: 0 4%;width: 92%;}
.slider_profile {height: 288px;}
.anisten {min-height: 287px;}
.span690 {width: 620px;}
.content-profile {width: 100%;}
.box_sec .box {width: 194px;}
.content-profile img {height: 194px;max-height: 217px;width: auto;}

#project-main{width: 620px;}
#project-sidebar{width: 320px;}
#comments-container {width: 592px;}
.comments {margin: 0 0 0 4%;width: 96%;}
#bussiness_page_name {left: 220px;}

#ajax-portfolio-detail-homepage {left: 0;width: auto;}
#profile_tags_left {width: 380px;}
#profile_tags_middle {width: 194px;}
#profile_tags_right {width: 380px;}


}

@media screen and (max-width:980px) {

.wrapper_c, .wrapper, #content-container{width: 760px;}
.inneContainer .innerLeft_section {width: 500px;}
.inner_rightSection {width: 240px;}
.add_sec {width: 100%;}
.ads-box {float: none;}
.add_sec .makeUp {min-width: 100px;}
.user_updates_form {width: 390px;}
.user_description {width: 500px;}
.user_description .firstCol .user {margin: 0 0 0 15px;width: 390px;}
#man_nav li {padding: 0 5px;}
#man_nav li a {font-size: 14px;}
.midsection {margin-left: 0;margin-right: 120px;}
.slider_profile {height: 227px;}
.anisten {min-height: 227px;}
.anisten .ani_top h2 {line-height: 28px;}
.anisten li{ line-height: 13px;}
.aff_org_name a {font-size: 13px;}
.span690 {width: 500px;}
.span315 {width: 240px;}
.box_sec .box {width: 230px;}
.content-profile img {height: 230px;max-height: 230px;}
#srch_people_container {width: 40%;}
.login_nav li {padding: 4px 2px;font-size: 11px;}
.dropdown .caret {margin-top: 5px;}

#project-main{width: 500px;}
#project-sidebar{width: 240px;}
#comments-container { margin: 0 0 0 10px;width: 490px;}
.comments {margin: 0 0 0 4%;width: 96%;}
#owner-info {width: 130px;}
.discover_nav > li {line-height: 16px;padding: 0 10px 5px;}
.business_profile_picture {height: 150px;width: 150px;}
#bussiness_page_name {left: 180px;}

#profile_tags_left {width: 280px;}
#profile_tags_right {width: 280px;}

}



@media screen and (max-width:767px) {

.wrapper_c, .wrapper, #content-container{width: 94%;}
#srch_people_container {width: 33%;}
.login_nav {text-align: right;width: 66%;}
.login_nav li {display: inline-block !important;float: none;vertical-align: middle;}
.logo {clear: both;float: none;margin-left: 0;position: static;}
.midsection {margin-right: 0;}
.inneContaineralbum {display: block;}
.anisten .art_gallery{display: none;}
.anisten {height: 100%;min-height: 50px;width: 150px;}
.slider_profile {height: auto;}
.cover-photo {height: auto;}
#ProfileCoverPhotoSelector {right: 10px;}
.profile_picture {border: 3px solid #FFFFFF;height: 120px;top: 43%;margin-left: -63px;width: 120px;}
.ProfilePicSelector {bottom: 0;height: 20px;padding: 0 2px;width: 116px;}
.ProfilePicSelector > img {margin: 3px 2px 0 0;width: 13px;}
.ProfilePicSelector .txt {float: none;font-size: 10px;padding: 2px 0;}

#profile_tags_left {margin-top: 40px;width: 50%;}
#profile_tags_right {margin-top: 55px;width: 50%;}
#profile_tags_middle {display: none;}

.main_container {background: none repeat scroll 0 0 #F3F1F1; float: left;}

.span690 {width: 100%;}
.bg_buttan{left: -10px;}
.summery p {text-align: justify;}
.education_photography .education p {font-size: 15px;}
.portfolio_box_container {float: left;margin: 0 0 20px;width: 33.3%;}
.box_sec .box {width: 99%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;  box-sizing: border-box; }
.content-profile img {height: auto;width: 100%;}

.span315 {display: block;float: none;margin: 20px auto;width: 300px;}

.wrapper-footer-content {text-align: center;}
.footer_social {display: table;float: none;margin: 10px auto 0;width: auto;}

.mobile_menu_btn{background: none repeat scroll 0 0 #8FBA37;
    border-radius: 5px;
    color: #FFFFFF !important;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 0;
    padding: 7px 10px;
    text-decoration: none !important;
    width: 100%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;  box-sizing: border-box;}

.mobile_menu_btn img{float: right;
    margin: -5px 0;
    width: 30px;}

#man_nav{display:none;background: none repeat scroll 0 0 #8FBA37;
    margin: 2px 0 0; padding:0;}

#man_nav li {
    float: none;
    line-height: normal;
    padding: 0;
}

#man_nav li a{border-bottom: 1px solid #000000;
    display: block;
    font-size: 16px;
    padding: 5px 10px;}

#man_nav li a:hover{color:#fff;text-decoration: none;border-bottom: 1px solid #fff;display: block;
    font-size: 16px;
    padding: 5px 10px;}




}
