.mobile_menu_btn{display:none;}
.profile_form_editable {clear: both;display: block;float: none;margin: 0 auto;padding: 40px 0;width: 500px;}
fieldset .field {margin: 6px 10px 12px;width: auto;}
.detail_form_container .span6 {margin: 0;width: 100%;}
.search .go {padding: 0 !important;}
.summery {word-wrap: break-word;}
#user_bussines_control_user_detail {font-size: 11px;width: 100%;}
.profile_picture {z-index: 11;}
.profile_nav {position: relative;}
.row-fluid.spaced-top {margin: 0 auto;width: 1024px;}
.job_index_box {margin: 0 1% 15px 0;width: 32%;}
#ads_makeup_box {margin: 0 1% 15px 0;width: 32%;}
.box_section ul li {display: inline-block;float: none;margin: 20px 9px 0;vertical-align: top;width: 320px;}
.quality {height: 90px;}

.no_results {margin: 30px 5%;width: 90%;}


@media screen and (max-width:1060px) {

.wrapper_c, .wrapper, #content-container, .wrapper_c_not_required, .row-fluid.spaced-top{width: 960px; margin:0 auto;}
.inneContainer .innerLeft_section {width: 620px;margin-top: 15px;}
.inner_rightSection {width: 320px;}
.user_updates_form {position: relative;width: 510px;}
#updates-img {left: auto;right: 5px;}
.user_description {width: 620px;}
.user_description .firstCol .user .userBottom { padding: 0 1%;width: 96%;}
.midsection {margin-right: 105px;	}
.inner_rightSection .make_comtact {bottom: 0;margin: 0;padding: 0 4%;width: 92%;}
.slider_profile {height: 288px;}
.anisten {min-height: 287px;}
.span690 {width: 620px;}
.content-profile {width: 100%;}
.box_sec .box {width: 194px;}
.content-profile img {height: 194px;max-height: 217px;width: auto;}
#project-main{width: 639px;}
#project-sidebar{width: 320px;}
#comments-container {width: 592px;}
.comments {margin: 0 0 0 4%;width: 96%;}
#bussiness_page_name {left: 220px;}
#ajax-portfolio-detail-homepage {left: 0;width: auto;}
#profile_tags_left {width: 380px;}
#profile_tags_middle {width: 194px;}
#profile_tags_right {width: 380px;}
.slogan h1 {font-size: 32px;line-height: normal;}
.widget .block {width: 100%;}
.widget .block .mejs-container, .widget .block .mejs-container .me-cannotplay{width: 100% !important;}
.mejs-layers .mejs-overlay {width: 100% !important;}
.mejs-inner video {width: 100% !important;}
.tab_nav > li a {font-size: 12px;padding: 6px 5%;}
.tab_content .txtcol {width: 60%;}
.pull_inside2 {padding: 10px;}
.simple_form {padding: 10px 10px 40px;}
.simple_form [type="submit"] {font-size: 14px !important;padding: 5px !important;width: auto;}
#editorsPicks li.isotope-item {margin: 0 0 1%;min-height: 150px;min-width: 180px;width: 32%;}
.facebook_div {position: relative;}
#twitter_follower, #facbook_count, #subscribe_youtube {float: left; left:0;margin: -27px 0 0 65px;position: relative;z-index: 100;}
.social_count {float: left;left: 0;margin: -27px 0 0 100px;position: relative;z-index: 100;}
.basic_plan {margin: 0 10px;max-width: 100%;padding: 10px 46px 10px 5px;width: 245px;word-wrap: break-word; min-height: 910px;}
.sale_plan h2, .free_plan h2 {font-size: 36px;margin: 30px 0; line-height: normal;}
.sale_plan h2 em, .free_plan h2 em{font-size: 22px;}
.free_plan ul li, .sale_plan ul li {font-size: 18px;padding: 0 0 20px 20px;background-position: 0 6px;}
.row {margin-left: 0;}
.offset3 {float: none;margin: 0 auto;}
.user_description .firstCol .user .userTop {width: 100%;}
.user_description .firstCol {width: 100%;}
.user_description .feed_headshot {width: 20%;}
.user_description .feed_headshot img {height: auto;width: auto;}
.user_description .firstCol .user {margin: 0 0 0 2%;width: 78%;}
.comment {position: relative;}
.comment > a {float: right;position: absolute;right: 0;top: 40px;}
.comment-user-pic {height: auto;width: 10%;}
.comment-user-pic img {height: auto;width: auto;}
.comment-user-name {margin: 0 0 0 3%;width: 85%;}
.child-comment-wrap {position: relative;width: 100%;}
.child-comment-delete {position: absolute;right: 5px;top: 25px;}
.primary-project-content {display: table;left: 0;margin: 0 auto;padding-bottom: 20px;width: auto;}
#album-form {left: 10% !important;margin: 0 !important;top: 0 !important;width: 80% !important; position: absolute;}
#album-form .modal-body .container{width: 100%;}
#crop_img_area {width: 100%;}
#ajax-portfolio-detail-homepage {left: 50%;margin-left: -480px;width: 960px;}
#contact-us-container {margin: 0 3% 21px;width: 94%;}
#project-comments #ad-detail-cover-container {margin: 0 3%;width: 94%;}
#project-comments #ad-detail-cover-container img {-webkit-box-sizing: border-box; -moz-box-sizing: border-box;  box-sizing: border-box;}
.detail_controls_cont {margin: 13px 3% 22px;}
.row-fluid.spaced-top .span2{padding: 0;width: 140px;}
.row-fluid.spaced-top .span9, .row-fluid.spaced-top .span7, .row-fluid.spaced-top .span10{margin-left: 30px;width: 790px;}
#no_recent_event {left: 0;text-align: center;top: 0;width: auto;}
.company_contact ul li {word-wrap: break-word;}
.box_section ul li {margin: 20px 8px 0;width: 302px;}
#portfolio_album_img {min-height: 100px;min-width: 100px;}
#portfolios .albm-img img {height: auto;width: 100%;}
.dropNav ul{margin-left:0;}
.dropNav ul li a {padding: 0 7px;}
#feedback_modal {left: 20%;margin: 0 !important;position: absolute;top: 0;width: 60%;}
.quality {background-size: 100% auto;}
.box_section ul#portfolios {width: 100%;}
.inneContaineralbum #ajax-portfolio-detail-homepage {margin-left: 0 !important;position: static; width: 100% !important;}



}
@media screen and (max-width:980px) {

.wrapper_c, .wrapper, #content-container, .wrapper_c_not_required, .row-fluid.spaced-top{width: 760px;}
.inneContainer .innerLeft_section {width: 500px;}
.inner_rightSection {width: 240px;}
.add_sec {width: 100%;}
.ads-box {float: none;}
.add_sec .makeUp {min-width: 100px;}
.user_updates_form {width: 390px;}
.user_description {width: 500px;}
.user_description .firstCol .user {margin: 0 0 0 15px;width: 390px;}
#man_nav li {padding: 0 5px;}
#man_nav li a {font-size: 14px;}
.midsection {margin-left: 0;margin-right: 120px;}
.slider_profile {height: 227px;}
.anisten {min-height: 227px;}
.anisten .ani_top h2 {line-height: 28px;}
.anisten li{ line-height: 13px;}
.aff_org_name a {font-size: 13px;}
.span690 {width: 500px;}
.span315 {width: 240px;}
.discover{-webkit-box-sizing: border-box; -moz-box-sizing: border-box;  box-sizing: border-box;width: 100%;}
.box_sec .box {width: 230px;}
.content-profile img {height: 230px;max-height: 230px;}
#srch_people_container {width: 40%;}
.login_nav li {padding: 4px 2px;font-size: 11px;}
.dropdown .caret {margin-top: 5px;}
#project-main{width: 519px;}
#project-sidebar{width: 240px;}
#comments-container { margin: 0 0 0 10px;width: 490px;}
.comments {margin: 0 1%;width: 98%;}
#owner-info {width: 130px;}
.discover_nav > li {line-height: 16px;padding: 0 10px 5px;}
.business_profile_picture {height: 150px;width: 150px;}
#bussiness_page_name {left: 180px;width: 380px;}
.follow_us {left: auto;right: 0;}
#business_title_page {font-size: 28px;width: auto;}
.business_tagline {font-size: 14px;width: auto;}
#profile_tags_left {width: 280px;}
#profile_tags_right {width: 280px;}
.slogan h1 {font-size: 28px;}
.discover {font-size: 24px;}
#editorsPicks li.isotope-item {min-height: 150px;min-width: 160px;}
#editorsPicks .isotopeSummary h4 {font-size: 14px;}
#twitter_follower, #facbook_count, #subscribe_youtube {margin: -22px 0 0 65px;}
.social_count {margin: -22px 0 0 100px;}
.get_started {margin: -22px 0 0;width: 45px;}
.basic_plan {min-height: 810px;padding: 10px 34px 10px 5px;width: 190px;}
.sale_plan h2, .free_plan h2 {font-size: 26px;margin: 15px 0;}
.sale_plan h2 em, .free_plan h2 em {font-size: 18px;}
.free_plan ul li, .sale_plan ul li {font-size: 14px;padding: 0 0 10px 12px;word-wrap: break-word;}
.sale_plan ul, .free_plan ul {width: 200px;}
.limited_offer_plan {font-size: 18px;margin: 0;padding: 5px 4%;text-align: center;width: 90%;position: relative;}
.limited_time_offer_img {bottom: auto;left: -25px;top: -3px;width: 60px;}
.inner_rightSection .make_comtact a {font-size: 13px;margin: 0;padding: 8px 11px;}
.inner_rightSection .make_comtact p {font-size: 14px;margin: 0;}
.user_description .firstCol .user {margin: 0 0 0 2%;width: 78%;}
#album-form .modal-body .container .table th, #album-form .modal-body .container .table td {padding: 5px 2px;}
#tags {left: 25%;margin-left: 0 !important;width: 50% !important;}
#uploadphoto, #uploadcoverphoto, #address, #skills, #edu, #portfolio-form  {left: 20%;margin-left: 0 !important;width: 60% !important;}
#edu {position:absolute;}
#portfolio-form{position:absolute; top:0;}
#affiliations {left: 10%;margin-left: 0 !important;top: 35px !important;width: 80% !important;}
#affiliations .modal-header {width: auto;}
#ajax-portfolio-detail-homepage{ left: 50%;margin-left: -383px !important;position: absolute;width: 767px !important;}
.row-fluid.spaced-top .span9, .row-fluid.spaced-top .span7, .row-fluid.spaced-top .span10{margin-left: 20px;width: 600px;}
.job_title_cont {font-size: 16px;}
.job_organization_name_cont {font-size: 12px;}
.make_comtact a {font-size: 12px;margin: 0 4px !important;padding: 6px 14px 6px 0;}
.fc-header-title h2 {font-size: 16px;margin-top: 7px !important;}
.dropNav {float: left;margin-top: 10px;}
.box_section ul li {margin: 20px 5px 0;width: 241px;}
.dropdown .key_word {position: relative; height:30px;}
#alb-srch-btn {left: auto;right: 0;}
#feedback_modal {width: 60% !important;}
.user_img {margin: 3px 10px 3px 3px;}
.portfolio-users-name {float: none;padding: 0;width: auto;}
.portf_like_cat {float: none;padding: 0;width: auto;}
#filter_album {width: 100%;}
.feature_search {margin: 12px 2% 12px 0;width: 48%;}
.footer_social {display: table;float: none;margin: 15px auto 0;}
.company_contact ul li {margin: 0 0 20px;width: 100%;}
#event_calendar_cont {padding: 0 2%;width: 96%;}


}
@media screen and (max-width:767px) {

.wrapper_c, .wrapper, #content-container, .wrapper_c_not_required, .row-fluid.spaced-top{width: 94%;}
#srch_people_container {width: 33%;}
.login_nav {text-align: right;width: 66%;}
#header_wrapper .dropdown-menu {text-align: left;}
.login_nav li {display: inline-block !important;float: none;vertical-align: top;}
.logo {clear: both;display: table;float: none;margin: 0 auto;position: static;}
.midsection {margin-right: 0;}
.inneContaineralbum {display: block;}
.anisten {
  height: auto;
  min-height: 50px;
  padding: 40px 2% 0;
  position: static;
  width: 96%;
}
.anisten .ani_top {
  border-bottom: 0 none;
  left: 125px;
  position: absolute;
  top: 30%;
}
.slider_profile {height: auto;}
.cover-photo {height: auto;}
#ProfileCoverPhotoSelector {
  border-radius: 0;
  right: 0;
  top: 0;
  width: 32px;
}
#ProfileCoverPhotoSelector i {
  left: 0;
  top: 5px;
}
#ProfileCoverPhotoSelector .uiButtonText {
  color: #FFFFFF;
  display: block;
  font-size: 0;
  height: 30px;
  padding-left: 0;
  position: relative;
  top: -15px;
  width: 32px;
}
.profile_picture {
  border: 3px solid #FFFFFF;
  height: 100px;
  left: 10px;
  margin-left: 0;
  top: 22%;
  width: 100px;
}
#connct-counts {
  display: inline-block;
  float: none;
  font-size: 20px;
  margin: 0;
  vertical-align: middle;
}

.ProfilePicSelector .txt {
  font-size: 0;
  height: 20px;
  padding: 0;
  width: 20px;
}
.ProfilePicSelector {
  bottom: 0;
  height: 20px;
  padding: 0;
  width: 20px;
}
.ProfilePicSelector > img {
  margin: 0;
  padding: 2px;
  width: 16px;
}
#profile_tags_left {margin-top: 0;width: 50%;}
#profile_tags_right {margin-top: 0;width: 50%;}
#profile_tags_middle {display: none;}
.main_container {background: none repeat scroll 0 0 #F3F1F1; float: left;}
.span690 {width: 100%;}
.bg_buttan{left: -10px;}
.summery p {text-align: justify;}
.education_photography .education p {font-size: 15px;}
.portfolio_box_container {float: left;margin: 0 0 20px;width: 33.3%;}
.box_sec .box {width: 99%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;  box-sizing: border-box; }
.content-profile img {height: auto;width: 100%;}
.span315 {display: block;float: none;margin: 20px auto;width: 300px;}
.wrapper-footer-content {text-align: center;}
.footer_social {display: table;float: none;margin: 10px auto 0;width: auto;}
.mobile_menu_btn{background: none repeat scroll 0 0 #8FBA37;border-radius: 5px;color: #FFFFFF !important;display: block;float: left;font-size: 14px;font-weight: bold;margin: 10px 0 0;padding: 7px 10px;text-decoration: none !important;width: 100%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;  box-sizing: border-box;}
.mobile_menu_btn img{float: right;margin: -5px 0;width: 30px;}
#man_nav{display:none;background: none repeat scroll 0 0 #8FBA37;margin: 2px 0 0; padding:0;}
#man_nav li {float: none;line-height: normal;padding: 0;}
#man_nav li a{border-bottom: 1px solid #000000;display: block;font-size: 16px;padding: 5px 10px;}
#man_nav li a:hover{color:#fff;text-decoration: none;border-bottom: 1px solid #fff;display: block;font-size: 16px;padding: 5px 10px;}
.index_user_slider {margin-top: 10px;}
.slogan h1 {font-size: 24px;}
.section_heading .left_section {margin: 0 0 10px;text-align: center;width: 100%;}
.section_heading .right_section {text-align: center;width: 100%;}
#editorsPicks li.isotope-item {min-width: 100px;}
#twitter_follower, #facbook_count, #subscribe_youtube {margin: -26px 0 0 65px;}
.social_count {margin: -26px 0 0 100px;}
.pricing_page {padding: 0 0 40px;}
.innerBenner {margin: 10px 0 0;}
.basic_plan {display: table;float: none;margin: 20px auto;min-height: 500px;padding: 10px 35px 10px 5px;width: 360px;}
.free_plan, .sale_plan {width: 100%;}
.sale_plan ul, .free_plan ul {min-height: 100px;width: 100%;}
.limited_time_offer_img {top: -16px;}
#feedback_trigger{display:none;}
.inneContainer .innerLeft_section {width: 100%;}
.feed_headshot img {height: auto;margin: 0;width: auto;}
.user_info {margin-top: 0;}
.user_data {margin: 0 4% 0 0;width: 20%;}
.user_updates_form {width: 76%;}
.user_description {float: right;width: 100%;padding: 0 0;}
.user_description .firstCol .user {margin: 0 0 0 2%;width: 78%;}
.user_description .firstCol .user .userBottom {width: 98%;}
.user_description .firstCol {width: 100%;}
.inneContainer {display: block;}
.inner_rightSection{display:none;}
.chatboxhead {padding: 5px;}
.chatboxhead h1 {font-size: 12px;font-weight: normal;line-height: normal;margin: 0;}
.wrapper h1 {font-size: 28px;}
.profile_form_editable, .detail_form_container {padding: 40px 0;width: 360px;}
.btn-group-vertical > .btn {min-width: 120px;}
.art_social {display: none;}
#ajax-portfolio-detail-homepage #content-container{width:100%;}
#project-main {width: 66%;}
#project-sidebar {border: 0 none;width: 34%;}
#comments-container {margin: 0 2%;width: 96%;}
.object-stats {width: 100%;}
.modal-header {padding: 9px 5px;}
#album-form {left: 5% !important;width: 90% !important; }
.modal-body {padding: 8px 0;}
#album-form .modal-body .span7, #album-form .modal-body .span5 {width: auto;}
.spaced-right { float: none !important;margin: 40px auto !important;padding: 0;width: 400px !important; clear:both;}
.tags_user {display: table;float: none;margin: 4px auto;width: 390px;}
.tag_user_img {margin: 0 10px 5px 0;}
.tag_user_details {float: none;height: auto;margin: 0;width: auto;}
#uploadphoto .modal-body, #uploadcoverphoto .modal-body, #affiliations .modal-body, #address .modal-body, #skills .modal-body, #edu .modal-body{padding: 8px 5px;}
.uiMenucover {left: auto;right: 0;width: 150px;}
.btn-large {font-size: 14px;padding: 8px 10px;}
h1 {font-size: 28.5px;}
h2 {font-size: 24.5px;}
h3 {font-size: 20.5px;}
.row-fluid .span9 {margin: 0 3%;width: 94%;}
#ajax-portfolio-detail-homepage{ left: 5%;margin-left: 0 !important;width: 90% !important;}
.current_album_like_form {font-size: 14px;margin: 0;width: 100%;}
#comments-header h4 {font-size: 14px;}
.row-fluid.spaced-top .span9, .row-fluid.spaced-top .span10{margin: 0;width: 100%;}
#bussiness_page_name, .follow_us {margin: 0 0 0 180px;position: static;width: auto;}
#business_title_page {font-size: 22px;}
.business_tagline {font-size: 12px;}
.company_banner .get_quote {padding: 6px 3px;}
.company_banner .get_quote a {font-size: 11px;}
.bussiness_timeline {float: left;width: 100%;}
.bussiness_timeline .user_description {float: right;margin: 0;width: 100%;}
.dropNav {display: none;}
.dropdown .key_word {margin-bottom: 10px;}
.box_section ul li.ajax-portfolio-detail-homepage-modal-trigger {margin: 20px 1% 0;width: 30%;}
.box_section ul li ul, .box_section ul li ul li {width: 100%;}
.box_section .album-name{font-size: 14px;}
.portf_like_cat {font-size: 11px;}

.innerBenner .wrapper{display: table;}
.portfolio .our_base {margin: 25px 0;}
.portfolio .our_base h2 {font-size: 40px;}
.portfolio .our_base strong {font-size: 18px;}
#portfolio_sub_cat_box {padding: 0 3% 20px;width: 94%;}
.inneContainer-links {padding: 20px 0 10px;}


}
@media screen and (max-width:600px) {

.login_nav {width: 100%;}
#srch_people_container {width: 100%;}
.choose .text {font-size: 32px;}
.choose .text span {font-size: 20px;}
.slogan h1 {font-size: 18px;}
.section_heading .left_section {font-size: 18px;}
.section_heading .left_section a {font-size: 22px;}
.section_heading .right_section {font-size: 18px;line-height: normal;}
.span315 {width: 270px;}
#editorsPicks li.isotope-item {width: 49%;}
.innerBenner {height: auto;}
.innerBenner .news_feeds {padding: 40px 0;}
.news_feeds .text h2 {font-size: 32px;}
.news_feeds .text h2 span {font-size: 32px;}
.news_feeds .text p {font-size: 18px;}
.login_container{background-size: 94% auto; margin: 40px auto;width: 360px;}
.login_container .form-item input {width: 256px;}
.portfolio_box_container {width: 50%;}
.education_photography .education {background: none;margin: 0 0 10px;width: 100%;}
.education_photography .key_skills {width: 100%;}
#project-main {width: 100%;}
#project-sidebar {width: 100%;}
#project-modules {margin-left: 0;width: 100%;}
#project-modules .gallery{margin-left: 0;}
.block-title .bold {margin: 0;}
.work-header {border-radius: 4px 4px 0 0;}
#tags {left: 10%;width: 80% !important;}
#uploadphoto, #uploadcoverphoto, #address, #skills, #edu, #portfolio-form {left: 10%;width: 80% !important;}
.detail_form_container .spaced-right {width: 360px !important;}
.detail_form_container .tags_user {width: 350px;}
#tag_user_name {width: auto;}
#affiliations {left: 5%;width: 90% !important;}
.job_index_box {margin: 0 1% 15px;width: 48%;}
#ads_makeup_box {margin: 0 1% 15px;width: 48%;}

.box_section ul li.ajax-portfolio-detail-homepage-modal-trigger {margin: 20px 1% 0;width: 47%;}
#filter_album {font-size: 20px;}
.advance_src_tilte {font-size: 20px;}
.sub_category_chekbox_container {width: 50%;}

.anisten .ani_top h2 {line-height: 20px;} 

.profile_picture {
  height: 90px;
  top: 20%;
  width: 90px;
}


}
@media screen and (max-width:500px) {

.get_started {margin: -20px 0 0;width: 40px;}
.basic_plan {min-height: 400px;padding: 10px 28px 10px 5px;width: 250px;}
.offset3 {width: 280px;}
#new_user {padding: 10px;}
#new_user .field label, #new_advertisement .field label {padding-right: 0;text-align: left;width: 100%;}
#new_user .field input, #new_advertisement .field input {width: 100%;}
.login_nav li.login{background-size: 60px auto;padding: 2px 3px 15px;}
.login_nav li.login a {font-size: 11px;}
.login_nav li {margin-bottom: 5px;}
#header_wrapper .dropdown-menu {left: auto;min-width: 100px;right: 0;width: 160px !important;}
.user_reach_out .get_quote {font-weight: normal;padding: 5px;}
.user_reach_out .get_quote a {font-size: 12px;}

.profile_nav ul li {font-size: 20px;padding: 5px 5px 0;}
.art_social {width: 95px;}
.art_social ul li {padding: 0;}
.user_description .feed_headshot {width: 120px;}
.user_description .firstCol .user {margin: 0 0 0;width: 100%;}
.uiButtonText {font-size: 10px;padding-left: 0;top: 4px;}
.spaced-right {width: 300px !important;}
.tags_user {padding-right: 10px;width: 280px;}
#tag_user_name {width: auto;}
.detail_form_container .spaced-right {width: 280px !important;}
.detail_form_container .tags_user {width: 260px;}
.row-fluid.spaced-top .span9 .table th, .row-fluid.spaced-top .span9 .table td {font-size: 12px;line-height: 16px;padding: 3px;}

#business_page_url_text {width: 100% !important;}
.business_profile_picture {height: 100px;width: 100px;}
#bussiness_page_name, .follow_us {margin: 0 0 0 120px;}
.summary_tabs ul li a {font-size: 13px;padding: 5px 3px;}
.company_manu ul li {margin: 0 0 10px;width: 100%;}
.company_contact ul li {margin: 0 0 10px;width: 100%;}

.anisten .ani_top {left: 100px;top: 25%;}

.profile_picture {
  border: 2px solid #FFFFFF;
  height: 80px;
  width: 80px;
}



}
@media screen and (max-width:420px) {

#editorsPicks li.isotope-item {display: table;float: none;margin: 10px auto;width: 270px;}
#editorsPicks .albm-img img {height: auto;max-height: 500px;width: 100%;}
.login_container {background-size: 100% auto;padding: 0 10px;width: 260px;}
.login_container .form-item input {width: 198px;}
.login_container form {padding: 10px;}
.login_container .left {width: 100%;}
.login_container .form-item.password {margin-bottom: 10px;}
.box_sec {width: 100%;}
.portfolio_box_container {display: block;float: none;margin: 10px auto;width: 270px;}
.box_sec .portfolio_box_container .box {margin: 2px 1%;width: 98%;}
.box_sec .portfolio_box_container .profile_edit_delete_portfolio_cont{margin-right: 1%;}
.profile_picture {
  border: 1px solid #FFFFFF;
  height: 60px;
  left: 5px;
  top: 13%;
  width: 60px;
}
.anisten {
  padding: 30px 2% 0;
}
.anisten .ani_top {
  left: 80px;
  top: 14%;
}
#profile_tags_left {margin-top: 10px;width: 100%;}
#profile_tags_right {margin-top: 0;width: 100%;}
.user_data {margin: 0 0 10px;width: 120px;}
.user_updates_form {width: 100%;}
.user_description {width: 100%;}
.wrapper h1 {font-size: 24px;}
.profile_form_editable, .detail_form_container {width: 280px;}
legend {font-size: 16px;}

.anisten .ani_top h2 {font-size: 16px;}
.anisten .ani_top h2 span {font-size: 12px;}
.profile_nav ul li, .profile_nav ul li span {font-size: 12px;}
.job_index_box {float: none;margin: 0 auto 15px;width: 270px;}
#activity_user_img img{width:100% !important; height:auto !important;}
#ads_makeup_box {float: none;margin: 0 auto 15px;width: 270px;}
.business_profile_picture {height: 80px;top: 33%;width: 80px;}
#bussiness_page_name, .follow_us {margin: 0 0 0 100px;}
.company_banner {float: right;margin: 5px;position: static;}
#bussines_control_user_detail {float: none;height: auto;width: auto;}
.box_section ul#portfolios {width: 100%;}
.box_section ul li.ajax-portfolio-detail-homepage-modal-trigger {display: table;float: none;margin: 15px auto;width: 270px;}
.feature_search {margin: 5px 0; width: 100%;}
.sub_category_chekbox_container {margin: 0 0 4px;width: 100%;}
.portfolio .our_base h2 {font-size: 28px;}
.portfolio .our_base strong {font-size: 16px;font-weight: normal;}
.user_description .firstCol .mejs-container, .user_description .firstCol .mejs-container .me-cannotplay{width: 100% !important;}
.user_description .firstCol object {width: 100%;}



}
