.row-fluid.spaced-top
  .span2.spaced-left
    .btn-group.btn-group-vertical.btn-block
      = link_to 'Back', current_user, class: 'btn'
  .span9
    .max_add_form_width
      %h1 Editing feedback
      = render 'form'

      .clear
