.row-fluid.spaced-top
  .span2.spaced-left
    .btn-group.btn-group-vertical.btn-block
      - if signed_in?
        = link_to 'Back', @organization, class: 'btn'
  .span9
    .max_add_form_width
      %h1 Editing organization
      = render 'form'

      .clear
