.wrapper.row-fluid.spaced-top
  %h1 Listing Categories
  - @categories.each do |category|
    .span12
      = link_to category do
        %h2 
          = category.name
      .spaced-left
        - category.sub_category_groups.each do |sub_category_group|
          .left.width_quarter
            %h3
              = sub_category_group.name
            - sub_category_group.sub_categories.each do |sub_category|
              = link_to sub_category.name, sub_category
              %br
    %hr
