%p.user_address{ :id => "current_address-#{@location.id}" }
  = @location.street_address
  = link_to "×", location_path(@location.id), :method => :delete, :remote => true,  :disable_with => "×", :class => 'address-delete' , :id => "address-delete-#{@location.id}"      
