%footer
  .wrapper
    .wrapper-footer-content
      ©2000 - 2013 Geniya. All Rights Reserved.
      %ul.footer_social
        %li
          %a{href: "https://www.youtube.com/"}
            %img{alt: "", src: "/assets/you_tube.png"}/
        %li
          %a{href: "https://www.facebook.com/IndianCivilization"}
            %img{alt: "", src: "/assets/fb.png"}/
        %li
          %a{href: "https://www.twitter.com/"}
            %img{alt: "", src: "/assets/twitter.png"}/
    .clear
    

